<div class="container">
  <div class="row">
    <div class="col-xl-6 order-xl-2 sistema-foto">
        <img src="assets/Integra.PNG" alt="">
    </div>
    <div class="col-xl-6 order-xl-1 sistema">
        <div class="sistema-contenido">
            <h1>Usa tu sistema de PDV existente</h1>
            <p>Aprovecha la tecnología actual y accede a todos los beneficios de Ya Voy. Nuestro software flexible se integra sin inconvenientes a muchos sistemas de PDV.</p>
            <button class="btncomenzar">Conoce más</button>
        </div>
    </div>
  </div>
<!-------------------Integración con Ya Voy----------------------------------->
  <div class="row">
    <div class="col-xl-6 integracion-foto">
        <img src="assets/integracion.PNG" alt="">
    </div>
    <div class="col-xl-6 integracion">
        <div class="integracion-contenido">
            <h1>La integración con Ya Voy es sencilla</h1>
            <p>Podemos trabajar con tu equipo técnico o proveedor de PDV para desarrollar una solución que se sincronice con nuestras API. Una vez que te conectes a través de uno de nuestros socios de PDV, podrás administrar tiendas, menús y pedidos a través de la plataforma de Ya Voy. Conoce más acerca de el proceso aquí.</p>
        </div>
    </div>
  </div>
<!-------------------A traves de esta----------------------------------->
  <div class="row">
    <div class="col-xl-6 order-xl-2 jersey-foto">
        <img src="assets/jerseymikes.PNG" alt="">
    </div>
    <div class="col-xl-6 order-xl-1 jersey">
        <div class="jersey-contenido">
            <h1>“A través de esta integración, pudimos duplicar rápidamente el número de negocios en la plataforma, ya que el proceso de activación es más fácil”.</h1>
            <p><b>Ed Basch</b>, director de Inteligencia Comercial, Jersey Mike's Subs</p>
        </div>
    </div>
  </div>
<!-------------------Trabajamos con----------------------------------->
  <div class="col-lg-8 col-md-10 col-sm-12 oc">
    <h1>Trabajamos con los principales socios tecnológicos</h1><br>
    <p>Si ves tu sistema de PDV a continuación, listo para comenzar. De lo contrario, siempre agregamos más, así que vuelve a consultar las actualizaciones. O regístrate, y nuestro equipo puede ayudarte a explorar las opciones.</p>
  </div>
<!-------------------Socios tecnologico----------------------------------->
  <div class="row socios">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
        <a href="">Conoce más acerca de Adora</a>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
        <a href="">Conoce más acerca de Andromeda</a>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
      <a href="">Conoce más acerca de Apitic</a>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
      <a href="">Conoce más acerca de Chowly</a>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
      <a href="">Conoce más acerca de Deliverect</a>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
      <a href="">Conoce más acerca de Foodtech</a>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
      <a href="">Conoce más acerca de los PDV de Future</a>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
      <a href="">Conoce más acerca de ItsaCheckmate</a>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
      <a href="">Conoce más acerca de Lolly</a>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
      <a href="">Conoce más acerca de Ligthspeed</a>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
      <a href="">Conoce más acerca de NovaDine</a>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
      <a href="">Conoce más acerca de Olo</a>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
      <a href="">Conoce más acerca de Omnivore</a>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
      <a href="">Conoce más acerca de Orderlord</a>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
      <a href="">Conoce más acerca de Otter</a>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
      <a href="">Conoce más acerca de Papu.io</a>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
      <a href="">Conoce más acerca de Redcat</a>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
      <a href="">Conoce más acerca de Toast</a>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
      <a href="">Conoce más acerca de Urban Piper</a>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
      <a href="">Conoce más acerca de Xenial</a>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
      <a href="">Conoce más acerca de Zelty</a>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 sc">
      <img src="assets/clientePedido.png" width="100%" alt="">
      <a href="">Conoce más acerca de Zonal</a>
    </div>
  </div>
</div>
    <!-------------------Tienes preguntas----------------------------------->
<div class="oc">
  <div class="bg2">
    <div class="container">
      <div class="preguntas">
        <h1>¿Tienes preguntas acerca de cómo integrar tu PDV?</h1>
        <p>Nuestro equipo de soporte puede ayudarte a decidir cuál es la mejor opción para tu empresa y a responder a cualquier pregunta. Envía un correo electrónico a restaurants@yavoy.com, y nos comunicaremos contigo. También puedes ponerte en contacto aquí.</p>
      </div>
    </div>
  </div>
</div>
    <!-------------------Preguntas frecuentes----------------------------------->
<div class="container">
  <article class="oc" id="accordion">
    <h1>Preguntas frecuentes</h1>
      <div class="bd-example">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                ¿Cuánto suele llevar la integración del PVD?
              </button>
            </h4>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
              <p>Depende del tipo de integración adecuado para el flujo de trabajo. Si ya brindamos soporte para el sistema de PDV de tu restaurante, tu proceso de activación será mucho más rápido. De lo contrario, los plazos variarán según la infraestructura técnica y los recursos. En este caso, comenzaremos con análisis y evaluaciones técnicos para determinar una solución conjunta. Por lo general, estimamos que la integración demora de 2 a 3 meses una vez que comienza el proceso de ingeniería.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                ¿Pueden integrar mi sistema de PDV?
              </button>
            </h4>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Ofrecemos varias opciones para la integración de PDV, pero determinar cuál es la correcta para ti depende del modelo y del sistema actual de tu negocio. Si quieres conocer más, regístrate para comunicarte con un miembro del equipo Ya Voy</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </article>
<!-----------------Botones------------------------------->
<div class="row">
  <div class="col-xl-6">
  <button class="btnesg">
      <span>Asóciate con nosotros</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
      </svg>
  </button>
  </div>

  <div class="col-xl-6">
  <button class="btnesg">
      <span>Obtén ayuda</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
      </svg>
  </button>
  </div>
</div>
</div>