<!--------------------------Administra los pedidos---------------------------->
<div class="bgp">
  <div class="container">
      <div class="row">
          <div class="col-xl-6 order-xl-2 burger">
              <img src="assets/burger.png" alt="">
          </div>
          <div class="col-xl-6 order-xl-1 administra">
              <div class="administra-contenido">
                <h1>Administra los pedidos de los clientes con facilidad</h1>
                <p>Transforma tu manera de administrar los pedidos con una plataforma centralizada. Te brindamos herramientas para gestionar grandes volúmenes de manera eficiente en tiempo real, a fin de que puedas concentrarte en tus clientes.</p>
                  <button type="submit" class="btncomenzar">Comenzar</button>
              </div>
          </div>
      </div>
  </div>
</div>
<!-------------------Simplifica la manera----------------------------------->
<div class="container">
  <div class="oc simplifica">
    <h2>Simplifica la manera de hacer negocios</h2>
    <p>Ya Voy ofrece desde un software simple y personalizable hasta soluciones flexibles de integración de puntos de venta. Esto te ayuda a simplificar tus tareas y las de tu personal para que puedas mantenerte a la vanguardia.</p>
  </div>

    <!-------------------Integra tu sistema----------------------------------->
  <div class="row">
    <div class="col-xl-6 integra-foto">
        <img src="assets/Integra.PNG" alt="">
    </div>
    <div class="col-xl-6 integra">
        <div class="integra-contenido">
            <h1>Integra tu sistema de puntos de venta</h1>
            <p>Ya Voy está diseñado para integrarse con una amplia variedad de dispositivos, por lo que puedes aceptar pedidos fácilmente sin interrumpir tus procesos de trabajo.</p>
            <button class="btncomenzar">Conoce más</button>
        </div>
    </div>
  </div>
    <!-------------------Simplifica la administración----------------------------------->
    <div class="row">
      <div class="col-xl-6 order-xl-2 simplificaadm-foto">
          <img src="assets/simplifica.PNG" alt="">
      </div>
      <div class="col-xl-6 order-xl-1 simplificaadm">
          <div class="simplificaadm-contenido">
              <h1>Integra tu sistema de puntos de venta</h1>
              <p>Ya Voy está diseñado para integrarse con una amplia variedad de dispositivos, por lo que puedes aceptar pedidos fácilmente sin interrumpir tus procesos de trabajo.</p>
              <button class="btncomenzar">Conoce más</button>
          </div>
      </div>
    </div>

    <!-------------------Controla tu negocio----------------------------------->
    <div class="cajas">
      <h1>Controla todo tu negocio</h1>
      <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <img src="assets/appPedidos.PNG" width="100%" alt="">
              <h5>App de Pedidos Ya Voy</h5>
              <p>Con el panel para tabletas o para computadoras de escritorio, puedes gestionar casi todos los aspectos de los pedidos, las funciones de seguimiento de entregas y los horarios de atención de tu negocio.</p>
            </div>
      
            <div class="col-lg-4 col-md-6 col-sm-12">
              <img src="assets/admUber.PNG" width="100%" alt="">
              <h5>Administrador de Ya Voy</h5>
              <p>La app te ayuda a controlar tu negocio con el seguimiento de los datos de rendimiento, campañas de marketing, detalles de pago y más, directamente desde tu computadora.</p>
            </div>
      
            <div class="col-lg-4 col-md-6 col-sm-12">
              <img src="assets/admMovil.PNG" width="100%" alt="">
              <h5>Administrador de Ya Voy para dispositivos móviles</h5>
              <p>Esta app móvil te permite monitorear el rendimiento de tu empresa, responder directamente a las opiniones de los clientes, establecer alertas y mucho más, estés donde estés.</p>
            </div>
      </div>
    </div>
    <!-----------------Ya Voy me brindó------------------------------->
    <div class="row">
      <div class="col-xl-6 diana-foto">
          <img src="assets/diana.png" alt="">
      </div>
      <div class="col-xl-6 diana">
          <div class="diana-contenido">
              <h1>“Ya Voy me brindó las herramientas para hacer que mi personal estuviera cómodo con el sistema desde el lanzamiento”.</h1>
              <p><b>Diana Yin</b>, propietaria de Poppy + Rose</p>
              <a href=""> Descubre la Historia completa</a>
          </div>
      </div>
    </div>
<!-----------------Botones------------------------------->
  <div class="row">
    <div class="col-xl-6">
    <button class="btnesg">
        <span>Asóciate con nosotros</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
        </svg>
    </button>
    </div>

    <div class="col-xl-6">
    <button class="btnesg">
        <span>Obtén ayuda</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
        </svg>
    </button>
    </div>
  </div>
</div>