<div class="bgp">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 order-xl-2 imgh">
                <img src="assets/notebook.PNG" alt="">
            </div>
            <div class="col-xl-6 order-xl-1 txt">
                <div class="ctt">
                    <h1 class="col-sm-12">Funciones para conectarte con los clientes</h1>
                    <p>Mantente en contacto con los fanáticos de tu establecimiento. Promover la lealtad de los clientes puede ayudarte a desarrollar tu negocio y a aumentar los ingresos.</p>
                    <button type="submit" class="btncon">Comenzar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Usa historias para------------------------------->
<div class="container">
    <div class="row pr">
        <div class="col-xl-6 fotocel">
            <img src="assets/celular.png" alt="">
        </div>
        <div class="col-xl-6 txpr">
            <div class="cpp">
                <h2>Usa historias para darle vida a tu negocio</h2>
                <p>En la sección Historias, puedes brindar más información sobre tu establecimiento. Anuncia nuevos artículos, promociones o novedades comerciales, directamente desde la página de tu negocio.</p>
                <button class="btncon">Conoce más</button>
            </div>
        </div>
    </div>
<!-----------------Reconocemos el excelente------------------------------->
    <div class="row sr">
        <div class="col-xl-6 order-xl-2 fotorec">
            <img src="assets/.PNG" alt="">
        </div>
        <div class="col-xl-6 order-xl-1 txsp">
            <div class="csp">
                <h2>Reconocemos el excelente servicio con el Top de Ya Voy</h2>
                <p>Hazles saber a tus clientes que brindas un servicio de primer nivel. Ya Voy recompensa con una insignia y una ubicación destacada en la app a los establecimientos que cumplen con los requisitos.</p>
                <button class="btncon">Conoce más</button>
            </div>
        </div>
    </div>
<!-----------------Aprovecha la integracion------------------------------->
    <div class="row tr">
        <div class="col-xl-6 fotocel">
            <img src="assets/celular 2.png" alt="">
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 txtr">
            <div class="ctp">
                <h2>Aprovecha la integración con Instagram para destacar tu negocio</h2>
                <p>Permite que los clientes vean lo que tu negocio tiene para ofrecer. Vincula tu cuenta de Instagram para mostrar los favoritos de los clientes, artículos especiales y más, directamente desde la app Ya Voy.</p>
                <button class="btncon">Conoce más</button>
            </div>
        </div>
    </div>
<!-----------------Responde a las reseñas------------------------------->
    <div class="row cr">
        <div class="col-xl-6 order-xl-2 fotocel">
            <img src="assets/celular 3.png" alt="">
        </div>
        <div class="col-xl-6 order-xl-1 txcr">
            <div class="ccp">
                <h2>Responde a las reseñas y únete a la conversación</h2>
                <p>Promueve la lealtad de tus clientes al responder sus reseñas. Agradéceles los comentarios positivos, comunícate con ellos y ten mayor control sobre las experiencias de servicio.</p>
                <button class="btncon">Conoce más</button>
            </div>
        </div>
    </div>
<!-----------------Realmente contamos con------------------------------->
    <div class="row qr">
        <div class="col-xl-6 fotocel">
            <img src="assets/halal.png" alt="">
        </div>
        <div class="col-xl-6 txqr">
            <div class="cqp">
                <h2>“Realmente contamos con Ya Voy para que los nuevos clientes puedan encontrarnos y probar el restaurante”.</h2>
                <p><b>Merwais Popal</b>, propietario de Halal Bros Grill</p>
                <a href="">Descubre la Historia completa</a>
            </div>
        </div>
    </div>
<!-----------------Botones------------------------------->
    <div class="row btnf">
        <div class="col-xl-6">
        <button class="btnesg text-start">
            <span>Asóciate con nosotros</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
            </svg>
        </button>
        </div>

        <div class="col-xl-6">
        <button class="btnesg text-start">
            <span class="col-md-8">Obtén ayuda</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
            </svg>
        </button>
        </div>
    </div>
</div>