<div>
    <!----->
        <div class="container col-xxl-12 px-4">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="assets/rclilealtad.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Haz que tus clientes habituales regresen con programas de lealtad</h1>
                <p class="lead">Recompensa a tus clientes habituales para que vuelvan a elegirte. El Administrador de Uber Eats te brinda herramientas flexibles para crear ofertas personalizadas y promociones de referidos que se pueden editar, agregar o desactivar sobre la marcha.</p>
                <p class="lead">¿Ya estás inscripto como establecimiento? <u>Prueba los programas de lealtad.</u></p>
                <div class="d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-dark btn-lg px-4 me-md-2">Comenzar</button>
                </div>
            </div>
            </div>
        </div>
    <!----->
    
    <!----->
    <div class="album py-5 ">
        <div class="container">
            <div style="margin-right: 700px"><h2>Recompensa a los clientes que vuelven a elegirte y genera más ganancias</h2></div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
            <div class="col">
              <div class="card shadow-sm eliminarborde">
                <img  src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627677317/assets/57/11250e-8cf8-4f27-ae61-f380823e7c93/original/boost_your_sales_badge.svg" width="90" alt="">
                <div class="card-body">
                  <h4 class="card-title">Impulsa las ventas</h4>
                  <p class="card-text">Incluso un leve aumento en la lealtad del cliente puede aumentar tus ganancias. Los establecimientos que ofrecen programas de lealtad suelen aumentar las ventas hasta en un 10 %.*</p>
                </div>
              </div>
            </div>
      
            <div class="col">
                <div class="card shadow-sm eliminarborde">
                  <img src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627677334/assets/2c/383717-9750-4399-9111-1b6ac805e091/original/attract_new_regulars_badge.svg" width="90" alt="">          
                  <div class="card-body">
                    <h4 class="card-title">Capta nuevos clientes habituales</h4>
                    <p class="card-text">Incentiva a que nuevos clientes prueben tu menú y recompénsalos por regresar. Puedes crear programas de lealtad basados en pedidos o en gastos.</p>
                  </div>
                </div>
              </div>
      
            <div class="col">
              <div class="card shadow-sm eliminarborde">
                <img src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627677353/assets/02/9a7078-fc48-457e-82e3-b69c17f35e0a/original/get_more_eyes_on_your_storefront_badge.svg" width="90" alt="">          
                <div class="card-body">
                  <h4 class="card-title">Haz que tu página sea más visible</h4>
                  <p class="card-text">Destácate en Uber Eats. Los establecimientos con programas de lealtad aparecen en una sección destacada de la app y obtienen su propio distintivo especial.</p>
                </div>
              </div>
            </div>
      
          </div>
        </div>
      </div>
    <!----->
    
    <!-------->
        <div  class="container col-xxl-12 px-4">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Fomenta la lealtad de los clientes sin inconvenientes</h1>
                <p class="lead">Haz que los clientes te elijan nuevamente. Accede a funciones que facilitan la creación de atractivos programas de lealtad en la pestaña Marketing del Administrador de Uber Eats.</p>
                <div class="d-md-flex justify-content-md-start">
                  <u>Inicia sesión para probarlo</u>
                </div>
              </div>
              <div class="col-lg-6">
                  <img src="assets/pronegocio.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
            </div>
          </div>
    <!-------->
    
    <!-------->
    <div class="container">
        <h1>Establece un objetivo y consulta los resultados</h1>
        </div>
        <main>
        <div class="card1">
            <input type="radio" name="select" id="slide_1" checked>
            <input type="radio" name="select" id="slide_2">
            <input type="radio" name="select" id="slide_3">
            <input type="radio" name="select" id="slide_4">
            <input type="radio" name="select" id="slide_5">
            <input type="checkbox" id="slideImg">
          
            <div class="slider">
              <label for="slide_1" class="slide slide_1"></label>
              <label for="slide_2" class="slide slide_2"></label>
              <label for="slide_3" class="slide slide_3"></label>
              <label for="slide_4" class="slide slide_4"></label>
              <label for="slide_5" class="slide slide_5"></label>
            </div>
          
            <div class="inner_part">
              <label for="slideImg" class="img">
                <img class="img_1" src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627677422/assets/15/559499-5a7b-432c-a9d6-25612dfb17d6/original/attract_new_customers_badge.svg">
              </label>
              <div class="content content_1">
                <div class="title">Atrae a nuevos clientes</div>
                <div class="text">
                    Aumenta la visibilidad de tu negocio con anuncios y ofertas.
                </div>
              </div>
            </div>
          
            <div class="inner_part">
              <label for="slideImg" class="img">
                <img class="img_2" src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627677455/assets/fc/161ee0-6ff0-42b2-b1e6-b7f905a49a0c/original/increase_order_volume_badge.svg" >
              </label>
              <div class="content content_2">
                <div class="title">Aumenta el volumen de los pedidos</div>
                <div class="text">
                    Destácate entre tus competidores y haz que los clientes te elijan.
                </div>
              </div>
            </div>
          
            <div class="inner_part">
              <label for="slideImg" class="img">
                <img class="img_3" src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627677475/assets/1f/751f91-fe4d-440c-bc16-ffe821d295a4/original/get_larger_orders_badge.svg">
              </label>
              <div class="content content_3">
                <div class="title">Recibe pedidos más grandes</div>
                <div class="text">Haz ofertas para incitar a los clientes a hacer más pedidos.
                </div>
              </div>
            </div>
        
            <div class="inner_part">
                <label for="slideImg" class="img">
                  <img class="img_4" src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627677503/assets/c1/b20cf9-be78-470d-9677-ee9332c6d079/original/build_loyalty_badge.svg">
                </label>
                <div class="content content_4">
                  <div class="title">Conquista la lealtad de los clientes</div>
                  <div class="text">Recompensa a los mejores clientes con descuentos en pedidos repetidos.
                  </div>
                </div>
              </div>
        
              <div class="inner_part">
                <label for="slideImg" class="img">
                  <img class="img_5" src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627678202/assets/8f/d18b06-fcd4-4ac1-a5d9-f41611d148e6/original/grow_your_following_badge.svg">
                </label>
                <div class="content content_5">
                  <div class="title">Obtén más seguidores</div>
                  <div class="text">Conéctate con los clientes y difunde tu marca con recursos para redes sociales.
                  </div>
                </div>
              </div>
          </div>
        </main>
    <!-------->
    
    <!---TIMELINE---->
    <div class="container">
    
        <section id=timeline>
        <h1>Cómo lanzar un programa de lealtad</h1>
        <div class="demo-card-wrapper">
    
            <div class="demo-card demo-card--step1">
                <div class="head">
                    <div class="number-box">
                        <span>Paso 1</span>
                    </div>
                    <h3>Visita el Administrador de Uber Eats</h3>
                </div>
                <div class="body">
                    <p>Inicia sesión y busca la pestaña Marketing en el ícono de navegación.</p>
                    <img src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_360,h_203/v1627677616/assets/2f/74b19d-5e6f-4289-a2d3-efde2371aadd/original/Loyalty_Programs_step_1.svg" alt="Graphic">
                </div>
            </div>
    
            <div class="demo-card demo-card--step2">
                <div class="head">
                    <div class="number-box">
                        <span>Paso 2</span>
                    </div>
                    <h3>Personaliza tu programa</h3>
                </div>
                <div class="body">
                    <p>Selecciona el tipo de programa y, luego, la recompensa y los criterios para obtenerla.</p>
                    <img src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_360,h_203/v1627677651/assets/20/3844ef-b81a-49dd-b24c-633581c87998/original/Loyalty_Programs_step_2.svg" alt="Graphic">
                </div>
            </div>
    
            <div class="demo-card demo-card--step3">
                <div class="head">
                    <div class="number-box">
                        <span>Paso 3</span>
                    </div>
                    <h3>Conéctate y recompensa a tus fanáticos</h3>
                </div>
                <div class="body">
                    <p>Los clientes obtienen recompensas de tu negocio, así que sabrán dónde regresar.</p>
                    <img src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_360,h_203/v1627677667/assets/2b/30c3f0-51fb-43e0-8048-7e4067dcd99e/original/Loyalty_Programs_step_3.svg" alt="Graphic">
                </div>
            </div>
    
        </div>
    </section>
    
    </div>
    <!------->
    
    <!------->
    <div class="container col-xxl-12 px-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-lg-6">
                <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_558,h_372/v1627677700/assets/5a/ac8d84-c5e5-4c61-8a37-506d9f5beb98/original/learn_to_create_successful_loyalty_programs_16x9_2x.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Aprende a crear programas de lealtad exitosos</h1>
                <p class="lead">Usa esta guía para aprovechar al máximo tus programas de lealtad en la plataforma de Uber Eats. </p>
                <div class="d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-dark btn-lg px-4 me-md-2">Descargar la Guia</button>
                </div>
            </div>
        </div>
      </div>
    <!------->
    
    <!------>
    <div class="container">
        <article class="my-3" id="accordion">
            <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
              <h1>Preguntas frecuentes</h1>
            </div>
            <div>
              <div class="bd-example">
              <div class="accordion" id="accordionExample">
        
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        ¿Cómo creo un programa de lealtad?
                    </button>
                  </h4>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                     <strong>Inicia sesión en el Administrador de Uber Eats y selecciona el tipo de programa para comenzar. Elige entre un programa basado en pedidos o en gastos. Los clientes pueden obtener recompensas después de alcanzar una cantidad fija de pedidos con un valor mínimo del recibo o después de gastar un monto establecido.</strong>
                    </div>
                  </div>
                </div>
        
        
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ¿Quién paga el programa de lealtad?
                    </button>
                  </h4>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>Los programas de lealtad funcionan de la misma manera que en tu negocio. El costo para tu empresa surge cuando se canjea la recompensa emitida.</strong> 
                    </div>
                  </div>
                </div>
        
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        ¿Cómo aparece mi programa de lealtad en Uber Eats?
                    </button>
                  </h4>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>Los establecimientos con programas de lealtad obtienen un distintivo especial y pueden aparecer en las secciones prioritarias de la app. Esto aumenta las probabilidades de que los usuarios te encuentren. Después de que un cliente haga un pedido en tu negocio, podrá seguir el progreso de su recompensa en un lugar específico de la app.</strong>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </article>
        </div>
        <!-------->
    </div>
    
      <!-- AYUDA E INFORMACION---->
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
      <button class="btnesg">
          <span>Asóciate con nosotros</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
      </button>
      </div>
  
      <div class="col-xl-6">
      <button class="btnesg">
          <span>Obtén ayuda</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
      </button>
      </div>
    </div>    
    </div>
    
    