<main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Historias de éxito de establecimientos en todo el mundo</h1>
        <p class="lead my-3">Nos enorgullece asociarnos con cientos de miles de establecimientos en todo el mundo. A continuación encontrarás historias sobre cómo los propietarios de negocios usan la plataforma de Uber Eats para llegar a más clientes.</p>
        <p class="lead mb-0" ><a href="#" class="text-white fw-bold">Comenzar</a></p>
      </div>
    </div>
    <div class="row featurette">
        <div class="col-md-6 order-xl-2">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PGBxg2QqpyQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> </iframe>
        </div>
        <div class="col-md-6 order-xl-1" style="margin-top: 5%;">
          <h2>“Del 25 al 30 % de nuestras ventas provienen de la app de Uber Eats”.</h2>
          <p style="margin-top: 24px;">Kelly Bain, directora de Bird On A Wire</p>
          <button type="submit" class="btn btn-dark col-xl-6" style="background-color: black;">Lee nuestra historia destacada</button>
        </div>
        
      </div>
      <br>
      <br>
      <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>

        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>

        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>

        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>

        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>

        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>

        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>

        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>

        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>

        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>

        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>

        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>

        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>

        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>

        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>

        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>

        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>

        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>

        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>

        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>

        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>

        <div class="col-lg-4">
          <img src="assets/clientePedido.png" alt="">
          <button class="botons">Descubre la Historia completa</button>
        </div>
      </div>
      <div class="row featurette" id="featured-3">
        <div class="col-md-6 order-md-1">
          <button class="boton text-start">
            <span>Asóciate con nosotros</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
            </svg>
          </button>
        </div>
    
        <div class="col-md-6 order-md-2">
          <button class="boton text-start">
            <span class="col-md-8">Obtén ayuda</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
            </svg>
          </button>
        </div>
      </div>
      
      <BR>
      <BR>
      <BR>
    </div>