<main>
    <div class="p-5 mb-4 bg-light rounded-3" style="background-image: url(assets/imagenpor.png);">
        <div class="container-fluid py-5">
        <h1 class="tt " >Cualquier negocio puede ofrecer entregas rápidas con YA VOY Direct</h1>
        
        
        <p class=" letrap">Los supermercados, farmacias y tiendas minoristas ahora pueden realizar entregas el mismo dia con Ya Voy direct</p>
        <button class="btn btn-primary btn-lg" type="button" >COMENZAR</button>
        </div>
    </div>
    
    <div class="container">
    <h1>Complace a los clientes con entregas a domicilio</h1>
    <div class="row" style="margin-top: 20px;">
        <div class="col-lg-4">
            <img src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1620932817/assets/16/27141f-66f8-465b-b2a2-663f63c1ff7a/original/simple-speedy-delivery.svg" alt="">
            <h5 style="text-align:left; margin-top: 20px">App de Pedidos Uber Eats</h5>
            <p style="text-align: left;">Agrega la opción de entrega el mismo día para diferenciarte de la competencia, complacer a tus clientes y recibir más pedidos.</p>
        </div>
    
        <div class="col-lg-4">
            <img src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1620932834/assets/6c/4a3225-6fa8-4e9e-9fc5-751385459fd5/original/real-time-tracking.svg" alt="">
            <h5 style="text-align:left; margin-top: 20px;">Seguimiento en tiempo real</h5>
            <p style="text-align: left;">Conoce el estado de cada entrega y mantén a los clientes informados sobre el progreso de su pedido. Con nuestra tecnología evitarás las complicaciones de último momento en las entregas.</p>
        </div>
    
        <div class="col-lg-4">
            <img src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1620932853/assets/98/d706d9-ccf6-4aa3-93d5-a03a5e49655c/original/elevate-your-level.svg" alt="">
            <h5 style="text-align:left; margin-top: 20px">Mejor nivel de servicio</h5>
            <p style="text-align: left;">Aprovecha los beneficios de nuestra plataforma para tu propia marca. Más de 150 000 negocios y 700 000 restaurantes confían en nosotros.</p>
        </div>
        </div>
        
<div class="container">
    <!-----------------linea del tiempo------------------------------->

    <section id=timeline>
    <h1>Cómo funciona Uber Direct</h1>
    <div class="demo-card-wrapper">

        <div class="demo-card demo-card--step1">
            <div class="head">
                <div class="number-box">
                    <span>Paso 1</span>
                </div>
                <h3>Regístrate en Uber Direct.</h3>
            </div>
            <div class="body">
                <p>Nuestro equipo te ayudará a realizar el proceso de activación de manera rápida y sencilla. Solo necesitamos tu información de contacto y algunos detalles sobre tu negocio para comenzar.</p>
                <img src="assets/telefonoya.png" alt="Graphic">
            </div>
        </div>

        <div class="demo-card demo-card--step2">
            <div class="head">
                <div class="number-box">
                    <span>Paso 2</span>
                </div>
                <h3>Prepárate para usar nuestra plataforma</h3>
            </div>
            <div class="body">
                <p>Después del proceso de activación, te ayudaremos a alcanzar el éxito. En cada pedido te mostraremos una estimación del precio junto con la opción de seguimiento en tiempo real, para que sepas cuánto pagarás antes de enviarlo.</p>
                <img src="assets/pcya.png" alt="Graphic">
            </div>
        </div>

        <div class="demo-card demo-card--step3">
            <div class="head">
                <div class="number-box">
                    <span>Paso 3</span>
                </div>
                <h3>Comienza a enviar tus productos.</h3>
            </div>
            <div class="body">
                <p>Al hacer una entrega a pedido con la plataforma Uber, un repartidor recolectará el artículo y lo entregará en el destino, lo que te ahorrará tiempo y esfuerzo.</p>
                <img src="assets/pacya.png" alt="Graphic">
            </div>
        </div>

    </div>
</section>
<br>
<br>
<br>


</div>
<div class="row featurette">
    <div class="col-md-6 order-xl-2">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="600" height="600" src="assets/ejecuti.png" alt="">
    </div>
    <div class="col-md-6 order-xl-1" style="margin-top: 5%;">
      <h2>“Podemos aumentar considerablemente las entregas a pedido de un producto esencial como los medicamentos”.</h2><br>
      <p><b>Talha Sattar</b>, director ejecutivo de NimbleRx</p>
    </div>
</div>
<BR>
<BR>
<BR>
<BR>

<!-----------------preguntas frecuentes------------------------------->
<div class="bd-example">
    <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        <h1>Preguntas frecuentes</h1><br>
      </div>
    <div class="accordion" id="accordionExample">

      <div class="accordion-item">
        <h4 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            ¿Los destinatarios deben usar la app de Uber?
          </button>
        </h4>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
           <strong>Los destinatarios no necesitan la app de Uber para hacer un seguimiento de sus pedidos. Las personas que usen el panel también recibirán un mensaje de texto con información de la entrega, que se podrá seguir a través de un navegador.</strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h4 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ¿Cómo funcionan las devoluciones?
          </button>
        </h4>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Si seleccionas la opción de devolver un pedido, se le indicará al repartidor que devuelva el artículo si no puede encontrar la ubicación de entrega.</strong> 
          </div>
        </div>
      </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    
    <!-----------------asos------------------------------->
    <div class="container marketing">
        <div class="row featurette" id="featured-3">
          <div class="col-md-6 order-md-1">
            <button class="boton text-start">
              <span>Asóciate con nosotros</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short col-6" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
              </svg>
            </button>
          </div>
      
          <div class="col-md-6 order-md-2">
            <button class="boton text-start">
              <span>Obtén ayuda</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
              </svg>
            </button>
          </div>
        </div>
        </div>

</div>
</main>
