<main>
    <div class="p-5 mb-4 bg-light rounded-3" style="background-image: url(assets/appmovile.png);">
        <div class="container-fluid py-5">
        <h1 class="tt " >Llega a más clientes con la Tienda web</h1>
        
        
        <p class=" letrap">Permite que los clientes hagan pedidos directamente desde tu sitio web para entrega y para llevar</p>
        <button class="btn btn-primary btn-lg" type="button" >COMENZAR</button>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
    <h1>Mejora la relación con tus clientes, a tu manera</h1>
    <div class="row" style="margin-top: 20px;">
        <div class="col-lg-4">
            <img src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1620864321/assets/eb/8ffb62-966f-4f00-83f9-5e88217ff468/original/expand-your-reach.svg" alt="">
            <h5 style="text-align:left; margin-top: 20px">Amplía tu alcance</h5>
            <p style="text-align: left;">Integra Uber Eats en tu sitio web para que tu negocio sea más accesible tanto para los clientes nuevos como para los existentes.</p>
        </div>
    
        <div class="col-lg-4">
            <img src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1620864347/assets/b4/d76c6a-abbd-4349-a1e7-6b12b2fbe058/original/customer-relationships.svg" alt="">
            <h5 style="text-align:left; margin-top: 20px;">Gestiona las relaciones con tus clientes</h5>
            <p style="text-align: left;">Descubre las preferencias de los clientes para acercarte a ellos. Podrás acceder a datos como el historial de pedidos si los usuarios aceptan compartirlos al finalizar la compra.</p>
        </div>
    
        <div class="col-lg-4">
            <img src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1620864369/assets/8f/cda302-914e-4457-93d6-31eb089cbb2b/original/lower-comission.svg" alt="">
            <h5 style="text-align:left; margin-top: 20px">Paga tarifas más bajas</h5>
            <p style="text-align: left;">Pagas un 2.5 % por el procesamiento de la tarjeta de crédito + $0.29 por cada pedido que se haga en la app de Uber o en tu sitio web. Eso es todo.</p>
        </div>
        </div>
        <br>
        <br>
        <br>
        
<div class="container">
    <!-----------------linea del tiempo------------------------------->

    <section id=timeline>
    <h1>Agregar una nueva manera de hacer pedidos es muy sencillo</h1>
    <div class="demo-card-wrapper">

        <div class="demo-card demo-card--step1">
            <div class="head">
                <div class="number-box">
                    <span>Paso 1</span>
                </div>
                <h3>Visita el Administrador de Uber Eats.</h3>
            </div>
            <div class="body">
                <p>Los nuevos clientes se registran para convertirse en socios de Uber Eats y luego inician sesión en la app de Administrador de Uber Eats para comenza</p>
                <img src="assets/pas1.png" alt="Graphic">
            </div>
        </div>

        <div class="demo-card demo-card--step2">
            <div class="head">
                <div class="number-box">
                    <span>Paso 2</span>
                </div>
                <h3>Sigue la guía en la app</h3>
            </div>
            <div class="body">
                <p>Selecciona la sección de Tienda web en la barra de navegación lateral. Verás una guía paso a paso para configurar la página de la Tienda web, con más detalles sobre los precios.</p>
                <img src="assets/pas2.png" alt="Graphic">
            </div>
        </div>

        <div class="demo-card demo-card--step3">
            <div class="head">
                <div class="number-box">
                    <span>Paso 3</span>
                </div>
                <h3>Crea y personaliza tu página</h3>
            </div>
            <div class="body">
                <p>Después de aceptar los Términos y condiciones, elige Crea tu página para personalizar el sitio con tus logotipos y colores, y luego obtén una URL única para tus negocios.</p>
                <img src="assets/Pas3.png" alt="Graphic">
            </div>
        </div>

    </div>
</section>
<br>
<br>
<br>


</div>
<div class="row featurette">
    <div class="col-md-6 order-xl-2">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="600" height="600" src="assets/Tops.png" alt="">
    </div>
    <div class="col-md-6 order-xl-1" style="margin-top: 5%;">
      <h2>“La app de Uber Eats nos salvó durante la situación originada por la COVID-19. Nuestro negocio no hubiera subsistido sin la plataforma y estamos muy agradecidos por eso”.</h2><br>
      <p><b>Jimmy Golemis</b>, propietario de Tops Diner</p>
    </div>
</div>
<BR>
<BR>
<BR>
<BR>


    <br>
    <br>
    
    
    <!-----------------asos------------------------------->
    <div class="container marketing">
        <div class="row featurette" id="featured-3">
          <div class="col-md-6 order-md-1">
            <button class="boton text-start">
              <span>Asóciate con nosotros</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short col-6" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
              </svg>
            </button>
          </div>
      
          <div class="col-md-6 order-md-2">
            <button class="boton text-start">
              <span>Obtén ayuda</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
              </svg>
            </button>
          </div>
        </div>
        </div>

</div>
</main>
