<div class="separacion">
    <app-sidebar></app-sidebar>
    <div class="pagina">
        <section class="header">
            <h1>Horas de recolección</h1>
            <p>Nuestra meta es contar con una persona que recolecte tu comida apenas esté lista. El tiempo de llegada del socio repartidor a tu restaurante dependerá de los tiempos promedios de la preparación, el tamaño del pedido, la hora del día, el tráfico y los patrones de las entregas anteriores.</p>
        </section>
        <section>
            <div class="preparacion">
                <h2>Tiempo promedio de la preparación de la comida</h2>
                <p>Informanos cuánto suele demorar la preparación de un pedido y utilizaremos la infomración la precisión de recolección.</p>
            </div>
            <div class="tiempo">
                <p>Minutos</p>
                <input type="number" min="5" step="5" class="numero">
            </div>
        </section>
        <section class="agregar">
            <p>+ Agregar más</p>
        </section>
        <section class="boton">
            <button type="button">Guardar cambios</button>
        </section>
    </div>
</div>
