<div class="separacion">
  <app-sidebar></app-sidebar>
  <div class="pagina">
      <section class="header">
          <h1>Historial de solicitudes</h1>
          <div class="informes">
              <p>Los informes vencen 48 horas despues de que se preparen.</p>
              <button id="botoninformes" type="button">Solicitar informe</button>
          </div>
      </section>
      <section>
          <table class="table-striped table table-hover">
              <thead class="cabecera">
                  <tr>
                      <th>Informes</th>
                      <th>Fecha del pedido</th>
                      <th>Estado</th>
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Detalles del pago</td>
                      <td>16:20 03/08/2022</td>
                      <td>Disponibles</td>
                      <td class="acciones">Descargar</td>
                  </tr>
                  <tr>
                      <td>Detalles del pago</td>
                      <td>16:20 03/08/2022</td>
                      <td>Vencidos</td>
                      <td class="acciones">Descargar</td>
                  </tr>
                  <tr>
                      <td>Tiempo de inactividad</td>
                      <td>16:20 03/08/2022</td>
                      <td>Disponibles</td>
                      <td class="acciones">Pedir de nuevo</td>
                  </tr>
                  <tr>
                      <td>Comentarios sobre articulos del menu</td>
                      <td>16:20 03/08/2022</td>
                      <td>Vencidos</td>
                      <td class="acciones"> Descargar</td>
                  </tr>
                  <tr>
                      <td>Detalles del pago</td>
                      <td>16:20 03/08/2022</td>
                      <td>Disponibles</td>
                      <td class="acciones">Descargar</td>
                  </tr>
                  <tr>
                      <td>Detalles del pago</td>
                      <td>16:20 03/08/2022</td>
                      <td>Disponibles</td>
                      <td class="acciones">Descargar</td>
                  </tr>
                  <tr>
                      <td>Detalles del pago</td>
                      <td>16:20 03/08/2022</td>
                      <td>Disponibles</td>
                      <td class="acciones">Descargar</td>
                  </tr>
                  <tr>
                      <td>Detalles del pago</td>
                      <td>16:20 03/08/2022</td>
                      <td>Disponibles</td>
                      <td class="acciones">Descargar</td>
                  </tr>
                  <tr>
                      <td>Detalles del pago</td>
                      <td>16:20 03/08/2022</td>
                      <td>Disponibles</td>
                      <td class="acciones">Descargar</td>
                  </tr>
                  <tr>
                      <td>Detalles del pago</td>
                      <td>16:20 03/08/2022</td>
                      <td>Vencidos</td>
                      <td class="acciones">Descargar</td>
                  </tr>
                  <tr>
                      <td>Detalles del pago</td>
                      <td>16:20 03/08/2022</td>
                      <td>Vencidos</td>
                      <td class="acciones">Descargar</td>
                  </tr>
              </tbody>
          </table>
      </section>
  </div>
</div>