<app-sidebar></app-sidebar>
<div class="container-fluid">
  <div class="d-flex">


    <div class="row w-100 mt-4">
      <div class="content">
        <section>
          <div class="container">
            <div class="row">
              <!-------------------Lado izquierdo----------------------------------->
              <div class="col-lg-6">
                <h2 id="tituloTiendas" class="mb-4">Historial de solicitudes</h2>
                <p> <strong> Los informes vencen 48 horas despues de que se preparen.</strong></p>
              </div>
              <!-------------------Lado derecho----------------------------------->
              <div class="col-lg-6 ">

                <button id="botoninformes" type="button" class="input1">Solicitar informe</button>

              </div>

            </div>
          </div>

        </section>


        <!-------------------Tabla----------------------------------->
        <section>
          <div class="container">
            <table class="table table-responsive  table-hover table-striped">
              <thead class="cabecera">
                <tr>
                  <th>Informes</th>
                  <th>Fecha del pedido</th>
                  <th>Estado</th>
                  <th>Acciones</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Detalles del pago</th>
                  <td>16:20 03/08/2022</td>
                  <td>Disponibles</td>
                  <th>Descargar</th>
                </tr>
                <tr>
                  <th>Detalles del pago</th>
                  <td>16:20 03/08/2022</td>
                  <td>Vencidos</td>
                  <th> Descargar</th>
                </tr>
                <tr>
                  <th>Tiempo de inactividad</th>
                  <td>16:20 03/08/2022</td>
                  <td>Disponibles</td>
                  <th> Pedir de nuevo</th>
                </tr>
                <tr>
                  <th>Comentarios sobre articulos del menu</th>
                  <td>16:20 03/08/2022</td>
                  <td>Vencidos</td>
                  <th> Descargar</th>
                </tr>
                <tr>
                  <th>Detalles del pago</th>
                  <td>16:20 03/08/2022</td>
                  <td>Disponibles</td>
                  <th> Descargar</th>
                </tr>
                <tr>
                  <th>Detalles del pago</th>
                  <td>16:20 03/08/2022</td>
                  <td>Disponibles</td>
                  <th> Descargar</th>
                </tr>
                <tr>
                  <th>Detalles del pago</th>
                  <td>16:20 03/08/2022</td>
                  <td>Disponibles</td>
                  <th> Descargar</th>
                </tr>
                <tr>
                  <th>Detalles del pago</th>
                  <td>16:20 03/08/2022</td>
                  <td>Disponibles</td>
                  <th> Descargar</th>
                </tr>
                <tr>
                  <th>Detalles del pago</th>
                  <td>16:20 03/08/2022</td>
                  <td>Disponibles</td>
                  <th> Descargar</th>
                </tr>
                <tr>
                  <th>Detalles del pago</th>
                  <td>16:20 03/08/2022</td>
                  <td>Vencidos</td>
                  <th> Descargar</th>
                </tr>
                <tr>
                  <th>Detalles del pago</th>
                  <td>16:20 03/08/2022</td>
                  <td>Vencidos</td>
                  <th> Descargar</th>
                </tr>
              </tbody>
            </table>

          </div>
        </section>
      </div>
    </div>
  </div>
</div>