<div> 
    <img class="imgp" src="assets/imgprecio.jpg" alt="">
    <h1 class="texto-encima container">Precios que se adaptan a tu negocio</h1>
    <h4 class="texto-encima2 container">La plataforma de Ya Voy ofrece a los pequeños negocios opciones flexibles y precios transparentes, para ayudar a que crezcan sin tener que reducir sus ganancias.</h4>
</div>

<main>
<div class="container marketing">

<!--CARD-->
    <h1 class="container py-4 ">Cómo funcionan las tarifas</h1>
    <div class="row row-cols-md-3 g-4">
        <div class="col-md-6">
          <div class="card h-100">
            <img src="assets/tarifa1.png" alt="...">
            <div class="card-body">
              <h5 class="card-title">Exención de la tarifa de activación</h5>
              <p class="card-text">Solo por tiempo limitado, no cobraremos la tarifa de activación única de $350. Si te registras hoy, recibirás la tableta con nuestro software para pedidos, la sesión de fotos del menú y la configuración del soporte sin costo adicional.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card h-100">
            <img src="assets/tarifa2.png"  alt="...">
            <div class="card-body">
              <h5 class="card-title">Tasa de servicio</h5>
              <p class="card-text">Esta tarifa se aplica como parte de cada pedido que prepares para los clientes que usan la app de Ya Voy. Varía según la opción de entrega de pedidos. Continúa para conocer más.</p>
            </div>
          </div>
        </div>
      </div>
<!--CARD-->
    <div class="b-example-divider"></div>


<!-------FEATURES----------->
  <div class="container px-4 py-5" id="hanging-icons">
    <h2>Lo que se incluye con tu asociación</h2>
    <p class="pb-2 border-bottom">Ya Voy cubre el costo para que todo sea más fácil y para ofrecer más valor a la asociación.</p>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <div>
          <p><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
          </svg></p>
          <h4>Cubrimos las tarifas de las tarjetas de crédito.</h4>
          <p>Sabemos que estas tarifas pueden alcanzar un costo elevado. Por lo tanto, pagamos las tarifas de transacción de los pedidos que hacen los clientes con la app de Ya Voy para que tú no tengas que hacerlo.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
        </div>
        <div>
          <p><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-person-hearts" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.5 1.246c.832-.855 2.913.642 0 2.566-2.913-1.924-.832-3.421 0-2.566ZM9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276ZM15 2.165c.555-.57 1.942.428 0 1.711-1.942-1.283-.555-2.281 0-1.71Z"/>
          </svg></p>
          <h4>Promociones para llegar a nuevos usuarios</h4>
          <p>Siempre buscamos nuevas maneras de aumentar tu visibilidad. Por ejemplo, a través de promociones especiales y programas de lealtad.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
        </div>
        <div>
          <p><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
          </svg></p>
          <h4>El costo de entrega está cubierto</h4>
          <p>Los restaurantes socios no tienen que pagar de manera individual a los socios de la App que usan la plataforma de Ya Voy.</p>
        </div>
      </div>
    </div>
  </div>
<!-------FEATURES----------->

<!-------FEATURE 2------------>
<div class="container px-4 py-5" id="icon-grid">
    <h2>Mas Beneficios</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Buenas conexiones.</h4>
          <p>Encuentra a los socios de la App desde la plataforma de Ya Voy y conéctate con los clientes que buscan comida en tu área.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Administración de pedidos sencilla</h4>
          <p>El panel muestra el estado del pedido de cada cliente. Después de unirte, podemos ayudarte a integrar tu sistema de PDV existente, cuando sea posible.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Oportunidades de marketing</h4>
          <p>Te ofrecemos varias formas para hacer que tu restaurante destaque. De hecho, siempre mostramos nuestros restaurantes socios a los usuarios de la app de Ya Voy.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Equipo de soporte</h4>
          <p>Te ayudaremos a prepararte para el éxito desde el momento en el que te registres, y estaremos siempre a un correo electrónico de distancia.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Datos detallados y prácticos</h4>
          <p>Analiza tu desempeño en función de los datos de ventas, calidad de servicio y satisfacción del cliente.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Acceso a la innovación</h4>
          <p>Esperamos que te unas a la vanguardia de la industria.</p>
        </div>
      </div>
    </div>
  </div>
<!-------FEATURE 2------------>

<div class="container px-4 py-5" id="featured-3">
    <h2 class="">ASOCIATE CON NOSOTROS<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
      </svg></h2>
    <div>
      <div class="justify-content-md-start">
          <button type="button" class="btn btn-dark"><a href="" class="icon-link dnone">COMENZAR<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
            <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
          </svg></a></button>
      </div>
    </div>
</div>

</div>
</main>




