<div class="separacion">
    <app-sidebar></app-sidebar>
    <div class="pagina">
        <section class="header">
            <h1>Pagos</h1>
            <div class="pago">
                <p>Periodo de pago</p>
                <input type="date">
            </div>
        </section>
        <section class="pagos">
            <div>
                <h3>Total de ganancias</h3>
                <p>$848.990</p>
            </div>
            <div>
                <h3>Pedidos completados</h3>
                <p>2</p>
            </div>
            <div>
                <h3>Frecuencia de pago</h3>
                <p>Por semana</p>
            </div>
            <div>
                <h3>Fecha de pago</h3>
                <p>Lunes 01 Julio 2022</p>
            </div>
            <div class="ganancias">
                <p>Tus ganancias incluyen todos los pedidos entregados al cliente entre las 12a.m. del 26/06/2022 y las 12a.m. del 09/07/2022. Las ganancias se depositaran en la cuenta.</p>
            </div>
        </section>
    </div>
</div>