
<main>
    <div>
<!------->
        <div class="container col-xxl-12 px-4">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="assets/fotosincontac.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Presentamos los pedidos y pagos sin contacto</h1>
                <p class="lead">Prioriza la seguridad del personal y de los clientes. Con los pedidos sin contacto de la app de Uber Eats, los clientes pueden escanear tu código QR único desde su dispositivo móvil. No es necesario intercambiar menús, efectivo o tarjetas de crédito.</p>
                <div class="d-md-flex justify-content-md-start">
                  <button type="button" class="btn btn-dark btn-lg px-4 me-md-2">Comenzar</button>
                </div>
              </div>
            </div>
        </div>
<!------->

<!----ALMBUM DE 3 FOTOS--->
<div class="album py-5 ">
    <div class="container">
        <h2>Ofrece a los clientes una experiencia sin contacto</h2>
        <p class="pb-2">Haz que los clientes puedan explorar fácilmente el menú, hacer un pedido, pagar y dejar un monto extra, todo desde la app de Uber Eats o desde el sitio web móvil. Esto es lo que tus clientes pueden esperar:</p>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        <div class="col">
          <div class="card shadow-sm eliminarborde">
            <img class="bd-placeholder-img card-img-top" width="100%" height="325" src="assets/escanear.png" alt="">
            <div class="card-body">
              <h4 class="card-title">Escanear</h4>
              <p class="card-text">Los clientes simplemente deben sostener la cámara de su smartphone frente al código QR para obtener el enlace a tu menú.</p>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card shadow-sm eliminarborde">
            <img class="bd-placeholder-img card-img-top" width="100%" height="325" src="assets/explorar.png" alt="">          
            <div class="card-body">
              <h4 class="card-title">Explorar</h4>
              <p class="card-text">Al seleccionar el enlace, se abre el menú en su dispositivo, donde pueden ver tu menú y elegir lo que quieren.</p>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card shadow-sm eliminarborde">
            <img class="bd-placeholder-img card-img-top" width="100%" height="325" src="assets/hacerpedi.png" alt="">          
            <div class="card-body">
              <h4 class="card-title">Haz un pedido</h4>
              <p class="card-text">Una vez que el pedido está listo, los clientes pagan directamente desde su dispositivo móvil, sin necesidad de manejar efectivo o tarjetas.</p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
<!------->

<!---TIMELINE---->
<div class="container">

    <section id=timeline>
	<h1>Solo tienes que seguir 3 sencillos pasos</h1>
	<div class="demo-card-wrapper">

		<div class="demo-card demo-card--step1">
			<div class="head">
				<div class="number-box">
					<span>Paso 1</span>
				</div>
				<h3>Descarga e imprime tu código QR.</h3>
			</div>
			<div class="body">
				<p>Muestra el código QR único en un lugar donde los clientes puedan escanearlo fácilmente, como las mesas, los bancos o las ventanas.</p>
				<img src="assets/codigoQr.png" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step2">
			<div class="head">
				<div class="number-box">
					<span>Paso 2</span>
				</div>
				<h3>Los clientes escanearán el código QR</h3>
			</div>
			<div class="body">
				<p>Indica a tus clientes que escaneen el código QR para consultar el menú y elegir lo que quieren desde sus smartphones.</p>
				<img src="assets/escanearQr.png" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step3">
			<div class="head">
				<div class="number-box">
					<span>Paso 3</span>
				</div>
				<h3>tú recibes el pedido.</h3>
			</div>
			<div class="body">
				<p>El pedido aparecerá en la app de Pedidos Uber Eats. Solo acepta y prepara el pedido de manera habitual.</p>
				<img src="assets/recibopedido.png" alt="Graphic">
			</div>
		</div>
    
	</div>
</section>

</div>
<!------->

<!---ACORDION---->
<div class="container">
    <article class="my-3" id="accordion">
        <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
          <h1>Preguntas frecuentes</h1>
        </div>
        <div>
          <div class="bd-example">
          <div class="accordion" id="accordionExample">
    
            <div class="accordion-item">
              <h4 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                ¿Cuánto cuesta?
                </button>
              </h4>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                 <strong>Los códigos QR siempre serán gratuitos. Se te cobrará una tarifa del 2.5 % para cubrir el costo por el procesamiento de pagos.</strong>
                </div>
              </div>
            </div>
    
    
            <div class="accordion-item">
              <h4 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                ¿Los clientes pueden dejar montos extra?
                </button>
              </h4>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Sí. Y tu restaurante recibirá el 100 % de los montos extra.</strong> 
                </div>
              </div>
            </div>
    
            <div class="accordion-item">
              <h4 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                ¿Hay algún costo para mis clientes?
                </button>
              </h4>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>No. Los clientes solo pagan el costo del pedido y el impuesto sobre las ventas. Los clientes también tienen la opción de dejar un monto extra, que se le pagará directamente al restaurante.</strong>
                </div>
              </div>
            </div>
    
          </div>
          </div>
        </div>
      </article>
    </div>
<!------->
    </div>
</main>

  <!-- AYUDA E INFORMACION---->
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
      <button class="btnesg">
          <span>Asóciate con nosotros</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
      </button>
      </div>
  
      <div class="col-xl-6">
      <button class="btnesg">
          <span>Obtén ayuda</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
      </button>
      </div>
    </div>    
    </div>