<div class="container">
    <div class="row">
        <div class="col-xl-6 order-xl-2 resencon">
            <img src="assets/reseñas.PNG" alt="">
        </div>
        <div class="col-xl-6 order-xl-1 contresen">
            <div class="txtresen">
                <h1 class="col-sm-12">Responde las reseñas de los clientes en tiempo real</h1>
                <p>Mantente en contacto con los fanáticos de tu establecimiento. Con nuestras herramientas de comunicación, puedes conectarte e interactuar de forma directa con tus clientes y conocer su experiencia más de cerca.</p>
                <p>¿Ya estás inscripto como establecimiento? Prueba responder las reseñas.</p>
                <button class="btncomenzar">Comenzar</button>
            </div>
        </div>
    </div>
<!-----------------Responde las reseñas de tu negocio----------------------->
    <div class="row">
        <div class="col-xl-6 respondecon">
            <img src="assets/responde.PNG" alt="">
        </div>
        <div class="col-xl-6 contresponde">
            <div class="txtresponde">
                <h2>Responde las reseñas de tu negocio de forma directa</h2>
                <p>Demuéstrales a tus clientes que los escuchas. Agradece una reseña positiva o envía ofertas desde tu computadora o dispositivo móvil para incentivar a que vuelvan a elegirte.</p>
                <a href="">Descargar iOS</a>
                <a href="">Descargar Android</a>
            </div>
        </div>
    </div>
<!-----------------Time Line------------------------>
    
<!-----------------Botones--------------------------->
<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
    <button class="btnesg text-start">
        <span>Asóciate con nosotros</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
        </svg>
    </button>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
    <button class="btnesg text-start">
        <span class="col-md-8">Obtén ayuda</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
        </svg>
    </button>
    </div>
</div>
</div>