* {
  --naranjo: rgb(231, 106, 4);
  --naranjod: rgba(231, 106, 4, 0.651);
}

.separacion {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.pagina{
  padding: 0 20px;
}

section {
  margin: 30px 0;
}

.header h1{
  color: black;
  margin-bottom: 20px;
}

.botones{
  display: flex;
  flex-direction: row;
  gap: 0 20px;
}

.botones input, select{
  width: max-content;
  height: min-content;
  background: #ccc;
  border: 0;
  border-radius: 20px;
  padding: 10px;
}

.pass{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 10px;
  width: max-content;
  align-items: center;
  background-color: #ccc;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
}

.botones select{
  cursor: pointer;
}

.pass p{
  margin: 0;
}

.tabla{
  width: 100%;
}

.tabla table{
  width: 100%;
}

.tabla p{
  display: flex;
  justify-content: end;
  font-weight: 500;
  color: gray;
}

td{
  border-bottom: 1px solid #ddd;
  font-weight: 500;
}

img{
  border-radius: 50%;
  width: 90px;
}

@media screen and (max-width: 1000px){
  .pagina{
      padding: 0 15px;
  }

  .tabla p{
      justify-content: start;
  }
 
  .botones{
      display: grid;
      grid-template-columns: max-content max-content;
      gap: 20px 0;
      justify-content: space-between;
  }

  table tr{
      display: grid;
      grid-template-columns: 1fr;
      margin-bottom: 20px;
  }

  td{
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

@media screen and (max-width: 700px){
  .pagina{
      padding: 0 10px;
  }
}