
<div>
    <!----->
            <div class="container col-xxl-12 px-4">
                <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                  <div class="col-10 col-sm-8 col-lg-6">
                    <img src="assets/promoventas.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="500" loading="lazy">
                  </div>
                  <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">Lanza más promociones e impulsa tus ventas</h1>
                    <p class="lead">Motiva a los clientes a hacer más pedidos y a gastar más. Con las funciones de promoción integradas en el Administrador de Uber Eats, accede a ofertas listas para usar que puedes activar en tan solo un instante.</p>
                    <p class="lead">¿Ya estás inscripto como establecimiento? <u>Prueba los anuncios</u>.</p>
                    <div class="d-md-flex justify-content-md-start">
                      <button type="button" class="btn btn-dark btn-lg px-4 me-md-2">Comenzar</button>
                    </div>
                  </div>
                </div>
              </div>
    <!----->
    
    <!----ALMBUM DE 3 iconos--->
    <div class="album py-5 ">
        <div class="container">
            <h2>Destácate e impulsa tus ventas</h2>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
            <div class="col">
              <div class="card shadow-sm eliminarborde">
                <img  src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627677927/assets/a5/f0687a-0dc8-49db-b821-2c6b62aade13/original/stand_out_from_the_competition_badge.svg" width="90" alt="">
                <div class="card-body">
                  <h4 class="card-title">Destácate entre la competencia</h4>
                  <p class="card-text">Aparecerás en tiempo real en el feed de los clientes y en correos electrónicos específicos, obtendrás una insignia especial para tu página y estarás en la pestaña Ofertas.</p>
                </div>
              </div>
            </div>
      
            <div class="col">
              <div class="card shadow-sm eliminarborde">
                <img src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627677955/assets/9a/474abe-ff1e-440e-aeda-46309ecedd29/original/keep_flexibility_and_control_badge.svg" width="90" alt="">          
                <div class="card-body">
                  <h4 class="card-title">Mantén la flexibilidad y el control</h4>
                  <p class="card-text">Elige entre diversos tipos de ofertas. Uber Eats te ayuda a dirigir y personalizar las promociones que mejor se adapten a tu negocio.</p>
                </div>
              </div>
            </div>
      
            <div class="col">
              <div class="card shadow-sm eliminarborde">
                <img src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627677977/assets/12/bc0e35-2315-4e41-aa02-cdbeece51d67/original/add_more_personaliztion_badge.svg" width="90" alt="">          
                <div class="card-body">
                  <h4 class="card-title">Hazlo aún más personalizado</h4>
                  <p class="card-text">Dirígete a clientes nuevos o existentes. Con nuestro conjunto integral de funciones, podrás personalizar tus promociones y atraer más personas a tu página.</p>
                </div>
              </div>
            </div>
      
          </div>
        </div>
      </div>
    <!------->
    
    <!-------->
    <div  class="container col-xxl-12 px-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Promociona tu negocio sin estrés</h1>
            <p class="lead">Dale mayor visibilidad a tu página. Accede a herramientas que facilitan la publicación y personalización de anuncios eficaces en la pestaña Marketing del Administrador de Uber Eats.</p>
            <div class="d-md-flex justify-content-md-start">
              <u>Inicia sesión para probarlo</u>
            </div>
          </div>
          <div class="col-lg-6">
              <img src="assets/pronegocio.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
        </div>
      </div>
    <!-------->
    
    <!---Informacion-->
    <div class="container">
    <h1>Establece un objetivo y consulta los resultados</h1>
    </div>
    <main>
    <div class="card1">
        <input type="radio" name="select" id="slide_1" checked>
        <input type="radio" name="select" id="slide_2">
        <input type="radio" name="select" id="slide_3">
        <input type="radio" name="select" id="slide_4">
        <input type="radio" name="select" id="slide_5">
        <input type="checkbox" id="slideImg">
      
        <div class="slider">
          <label for="slide_1" class="slide slide_1"></label>
          <label for="slide_2" class="slide slide_2"></label>
          <label for="slide_3" class="slide slide_3"></label>
          <label for="slide_4" class="slide slide_4"></label>
          <label for="slide_5" class="slide slide_5"></label>
        </div>
      
        <div class="inner_part">
          <label for="slideImg" class="img">
            <img class="img_1" src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627677422/assets/15/559499-5a7b-432c-a9d6-25612dfb17d6/original/attract_new_customers_badge.svg">
          </label>
          <div class="content content_1">
            <div class="title">Atrae a nuevos clientes</div>
            <div class="text">
                Aumenta la visibilidad de tu negocio con anuncios y ofertas.
            </div>
          </div>
        </div>
      
        <div class="inner_part">
          <label for="slideImg" class="img">
            <img class="img_2" src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627677455/assets/fc/161ee0-6ff0-42b2-b1e6-b7f905a49a0c/original/increase_order_volume_badge.svg" >
          </label>
          <div class="content content_2">
            <div class="title">Aumenta el volumen de los pedidos</div>
            <div class="text">
                Destácate entre tus competidores y haz que los clientes te elijan.
            </div>
          </div>
        </div>
      
        <div class="inner_part">
          <label for="slideImg" class="img">
            <img class="img_3" src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627677475/assets/1f/751f91-fe4d-440c-bc16-ffe821d295a4/original/get_larger_orders_badge.svg">
          </label>
          <div class="content content_3">
            <div class="title">Recibe pedidos más grandes</div>
            <div class="text">Haz ofertas para incitar a los clientes a hacer más pedidos.
            </div>
          </div>
        </div>
    
        <div class="inner_part">
            <label for="slideImg" class="img">
              <img class="img_4" src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627677503/assets/c1/b20cf9-be78-470d-9677-ee9332c6d079/original/build_loyalty_badge.svg">
            </label>
            <div class="content content_4">
              <div class="title">Conquista la lealtad de los clientes</div>
              <div class="text">Recompensa a los mejores clientes con descuentos en pedidos repetidos.
              </div>
            </div>
          </div>
    
          <div class="inner_part">
            <label for="slideImg" class="img">
              <img class="img_5" src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627678202/assets/8f/d18b06-fcd4-4ac1-a5d9-f41611d148e6/original/grow_your_following_badge.svg">
            </label>
            <div class="content content_5">
              <div class="title">Obtén más seguidores</div>
              <div class="text">Conéctate con los clientes y difunde tu marca con recursos para redes sociales.
              </div>
            </div>
          </div>
      </div>
    </main>
    <!---------------->
        
    <!----->
    <div class="container col-xxl-12 px-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-lg-6">
                <img src="assets/creaanuncios.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Aprende a crear promociones atractivas</h1>
                <p class="lead">Usa esta guía para aprovechar al máximo los anuncios en la plataforma de Uber Eats.</p>
                <div class="d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-dark btn-lg px-4 me-md-2">Descargar la Guia</button>
                </div>
            </div>
        </div>
      </div>
    <!----->
    
    <div class="container">
        <article class="my-3" id="accordion">
            <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
              <h1>Preguntas frecuentes</h1>
            </div>
            <div>
              <div class="bd-example">
              <div class="accordion" id="accordionExample">
        
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    ¿Cómo creo una promoción?
                    </button>
                  </h4>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                     <strong>Inicia sesión en el Administrador de Uber Eats, dirígete a la pestaña Marketing y elige el tipo de promoción para comenzar.</strong>
                    </div>
                  </div>
                </div>
        
        
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    ¿Dónde pueden los clientes encontrar mi promoción?
                    </button>
                  </h4>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>La promoción aparecerá en la app Uber Eats, tanto en los mensajes de información de tu establecimiento como en la página del menú donde seleccionas a los clientes que se encuentran dentro del radio de entrega. Los clientes también podrán ver la promoción siempre que tu negocio aparezca en los resultados de búsqueda.</strong> 
                    </div>
                  </div>
                </div>
        
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    ¿Puedo decidir quién ve mi promoción?
                    </button>
                  </h4>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>Comparte la promoción con todos los usuarios que se encuentren dentro de tu radio de entrega o solo con clientes nuevos que nunca hicieron un pedido de tu establecimiento.</strong>
                    </div>
                  </div>
                </div>
        
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    ¿Cómo pauso o finalizo la promoción?
                    </button>
                  </h4>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>Puedes finalizar la promoción en cualquier momento a través del Administrador de Uber Eats. Puedes eliminarla de la app con tan solo un par de clics. Ten en cuenta que las promociones finalizarán (automáticamente) al alcanzar el presupuesto máximo que estableciste en el lanzamiento.</strong> 
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                    <h4 class="accordion-header" id="headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    ¿Qué tipos de promociones están disponibles?
                      </button>
                    </h4>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>Inicia sesión en el Administrador de Uber Eats y obtén una lista completa de las promociones disponibles, que ofrecen desde descuentos por gastar un monto mínimo hasta artículos del menú gratis.</strong> 
                      </div>
                    </div>
                  </div>
        
              </div>
              </div>
            </div>
          </article>
        </div>
        <!-------->
    </div>
      <!-- AYUDA E INFORMACION---->
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
      <button class="btnesg">
          <span>Asóciate con nosotros</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
      </button>
      </div>
  
      <div class="col-xl-6">
      <button class="btnesg">
          <span>Obtén ayuda</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
      </button>
      </div>
    </div>    
    </div>
    
