<main>
    <!----------------------Administra---------------------------->
    <div class="container marketing col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row featurette">
        <div class="col-md-6 order-xl-2">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="600" height="600"  src="assets/simplifica.PNG" alt="">
        </div>
        <div class="col-md-6 order-xl-1" style="margin-top: 5%;">
          <h1>Administra los pedidos en un solo lugar</h1><br>
          <p>Haz negocios de una manera más rápida, fácil y eficiente con Pedidos Ya Voy. Con la versión de la app para tableta, podrás administrar pedidos, entregas, menús y mucho más.</p>
          <button type="submit" class="btn btn-dark col-xl-3" style="background-color: black;">Comenzar</button>
        </div>
      </div>
    </div>
    <BR>
    <BR>
    <BR>
      <!-------------------Mantén el rumbo----------------------------------->
    <div class="container marketing">
    <h2>Mantén el rumbo con la app Pedidos Ya Voy</h2>
    <div class="row" style="margin-top: 5%;">
           <div class="col-lg-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
            </svg>
            <h5 style="text-align:left; margin-top: 30px;">Gestiona los pedidos de principio a fin</h5>
            <p style="text-align: left;">Acepta pedidos entrantes y programados, envíales un aviso a los socios repartidores cercanos cuando los pedidos estén listos para la recolección y demora o cancela los pedidos desde un solo lugar.</p>
          </div>
    
          <div class="col-lg-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
              <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
            <h5 style="text-align:left; margin-top: 30px;">Haz un seguimiento de las entregas en tiempo real</h5>
            <p style="text-align: left;">Consulta a qué socio repartidor se le asignó un pedido, obtén su información de contacto y averigua cuándo llegará o cuánto tiempo esperó para recolectar un pedido.</p>
          </div>
    
          <div class="col-lg-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
              <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
              <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
            </svg>
             <h5 style="text-align:left; margin-top: 30px;">Haz cambios sobre la marcha</h5>
             <p style="text-align: left;">Mantén actualizado tu menú. Pausa y modifica fácilmente los pedidos, marca los artículos como agotados, agrega artículos nuevos, actualiza los precios, establece el horario habitual y el de feriados, y más.</p>
          </div>
    </div>
      <BR>
      <BR>
      <BR>
      <!-------------------Guía para usar----------------------------------->
      <div class="row featurette">
        <div class="col-md-6 order-md-1">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"  src="assets/guiaPedidos.PNG" alt="">
        </div>
        <div class="text-xl-start col-md-6 order-md-2 guia">
          <h2>Guía para usar Pedidos Ya Voy</h2><br>
          <p>Usa esta guía integral para todo lo relacionado con los Pedidos Ya Voy, desde recibir y aceptar pedidos hasta resolver problemas.</p>
          <p>Descarga la guía en <a href="">inglés</a> o en <a href="">español.</a></p>
        </div>
      </div>
      <BR>
      <BR>
      <BR>
      <!-------------------Configura tu dispositivo----------------------------------->
      <div class="col-md-8">
        <h1>Configura tu dispositivo en un instante</h1><br>
        <p>Si no recibiste una tableta exclusiva para usar la app Pedidos Ya Voy, puedes instalar, configurar y personalizar fácilmente la app gratuita en tu tableta o en tu computadora de escritorio. Sigue las instrucciones de descarga a continuación para comenzar.</p>
      </div>
      <BR>
      <BR>
    <!-------------------Scrollspy----------------------------------->
    <h1 style="text-align: center;">Pendiente</h1>
    </div>
































    <!-----------------Asociate con nosotros------------------------------->
    <div class="container marketing">
    <div class="row featurette" id="featured-3">
      <div class="col-md-6 order-md-1">
        <button class="boton text-start">
          <span>Asóciate con nosotros</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short col-6" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
        </button>
      </div>
  
      <div class="col-md-6 order-md-2">
        <button class="boton text-start">
          <span>Obtén ayuda</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
        </button>
      </div>
    </div>
    </div>
    <BR>
    <BR>
    <BR>
</main>

