
<div>
    <!----->
            <div class="container col-xxl-12 px-4">
                <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                  <div class="col-10 col-sm-8 col-lg-6">
                    <img src="assets/anunprimerplano.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="500" loading="lazy">
                  </div>
                  <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">Publica anuncios y pon tu negocio en primer plano</h1>
                    <p class="lead"> Gana visibilidad en la app Uber Eats. En nuestra plataforma encontrarás las herramientas para crear, personalizar y publicar anuncios atractivos que destaquen tu negocio en lugares de mucho tránsito.</p>
                    <p class="lead">¿Ya estás inscripto como establecimiento? <u>Prueba los anuncios</u>.</p>
                    <div class="d-md-flex justify-content-md-start">
                      <button type="button" class="btn btn-dark btn-lg px-4 me-md-2">Comenzar</button>
                    </div>
                  </div>
                </div>
              </div>
    <!----->
    
    <!----ALMBUM DE 3 iconos--->
    <div class="album py-5 ">
        <div class="container">
            <h2>Destácate e impulsa tus ventas</h2>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
            <div class="col">
              <div class="card shadow-sm eliminarborde">
                <img  src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627679173/assets/55/577aec-4d61-4346-b9d2-a6e7188c4b1a/original/incrase_your_orders_badge.svg" width="90" alt="">
                <div class="card-body">
                  <h4 class="card-title">Recibe más pedidos</h4>
                  <p class="card-text">Coloca tus anuncios en los lugares con mayor visibilidad y recibe más pedidos.</p>
                </div>
              </div>
            </div>
      
            <div class="col">
              <div class="card shadow-sm eliminarborde">
                <img src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627679218/assets/0b/625d48-966c-4185-a4b5-80d60362431b/original/Tap_into_new_customers_badge.svg" width="90" alt="">          
                <div class="card-body">
                  <h4 class="card-title">Atrae a nuevos clientes</h4>
                  <p class="card-text">Publicita tu negocio y llega a millones de clientes potenciales.</p>
                </div>
              </div>
            </div>
      
            <div class="col">
              <div class="card shadow-sm eliminarborde">
                <img src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627679247/assets/f9/3f4870-0629-4292-816d-2ce528a40435/original/boost_your_visibility_badge.svg" width="90" alt="">          
                <div class="card-body">
                  <h4 class="card-title">Aumenta tu visibilidad</h4>
                  <p class="card-text">Publicita tu negocio cerca de la parte superior de la app Uber Eats y consigue nuevos clientes.</p>
                </div>
              </div>
            </div>
      
          </div>
        </div>
      </div>
    <!------->
    
    <!-------->
    <div  class="container col-xxl-12 px-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Promociona tu negocio sin inconvenientes</h1>
            <p class="lead">Dale mayor visibilidad a tu página. Accede a herramientas que facilitan la publicación y personalización de anuncios eficaces en la pestaña Marketing del Administrador de Uber Eats.</p>
            <div class="d-md-flex justify-content-md-start">
              <u>Inicia sesión para probarlo</u>
            </div>
          </div>
          <div class="col-lg-6">
              <img src="assets/pronegocio.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
        </div>
      </div>
    <!-------->
    
    <!---Informacion-->
    <div class="container">
    <h1>Establece un objetivo y consulta los resultados</h1>
    </div>
    <main>
    <div class="card1">
        <input type="radio" name="select" id="slide_1" checked>
        <input type="radio" name="select" id="slide_2">
        <input type="radio" name="select" id="slide_3">
        <input type="radio" name="select" id="slide_4">
        <input type="radio" name="select" id="slide_5">
        <input type="checkbox" id="slideImg">
      
        <div class="slider">
          <label for="slide_1" class="slide slide_1"></label>
          <label for="slide_2" class="slide slide_2"></label>
          <label for="slide_3" class="slide slide_3"></label>
          <label for="slide_4" class="slide slide_4"></label>
          <label for="slide_5" class="slide slide_5"></label>
        </div>
      
        <div class="inner_part">
          <label for="slideImg" class="img">
            <img class="img_1" src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627677422/assets/15/559499-5a7b-432c-a9d6-25612dfb17d6/original/attract_new_customers_badge.svg">
          </label>
          <div class="content content_1">
            <div class="title">Atrae a nuevos clientes</div>
            <div class="text">
                Aumenta la visibilidad de tu negocio con anuncios y ofertas.
            </div>
          </div>
        </div>
      
        <div class="inner_part">
          <label for="slideImg" class="img">
            <img class="img_2" src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627677455/assets/fc/161ee0-6ff0-42b2-b1e6-b7f905a49a0c/original/increase_order_volume_badge.svg" >
          </label>
          <div class="content content_2">
            <div class="title">Aumenta el volumen de los pedidos</div>
            <div class="text">
                Destácate entre tus competidores y haz que los clientes te elijan.
            </div>
          </div>
        </div>
      
        <div class="inner_part">
          <label for="slideImg" class="img">
            <img class="img_3" src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627677475/assets/1f/751f91-fe4d-440c-bc16-ffe821d295a4/original/get_larger_orders_badge.svg">
          </label>
          <div class="content content_3">
            <div class="title">Recibe pedidos más grandes</div>
            <div class="text">Haz ofertas para incitar a los clientes a hacer más pedidos.
            </div>
          </div>
        </div>
    
        <div class="inner_part">
            <label for="slideImg" class="img">
              <img class="img_4" src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627677503/assets/c1/b20cf9-be78-470d-9677-ee9332c6d079/original/build_loyalty_badge.svg">
            </label>
            <div class="content content_4">
              <div class="title">Conquista la lealtad de los clientes</div>
              <div class="text">Recompensa a los mejores clientes con descuentos en pedidos repetidos.
              </div>
            </div>
          </div>
    
          <div class="inner_part">
            <label for="slideImg" class="img">
              <img class="img_5" src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1627678202/assets/8f/d18b06-fcd4-4ac1-a5d9-f41611d148e6/original/grow_your_following_badge.svg">
            </label>
            <div class="content content_5">
              <div class="title">Obtén más seguidores</div>
              <div class="text">Conéctate con los clientes y difunde tu marca con recursos para redes sociales.
              </div>
            </div>
          </div>
      </div>
    </main>
    <!---------------->
    
    <!-------->
    <div  class="container col-xxl-12 px-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Aprende a crear anuncios que se destaquen</h1>
            <p class="lead">Usa esta guía para aprovechar al máximo los anuncios en la plataforma de Uber Eats.</p>
            <div class="d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-dark btn-lg px-4 me-md-2">Descargar la Guia</button>
            </div>
          </div>
          <div class="col-lg-6">
              <img src="assets/creaanuncios.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
        </div>
      </div>
    <!-------->
    
    <!----->
    <div class="container col-xxl-12 px-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="assets/alehouse.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">“Todo se trata de la repetición y de que los clientes nos vean en diversas partes de la app. Al vernos cada vez que inician sesión, les terminamos resultando conocidos”. </h1>
            <p class="lead"><strong>Tyker Kaune,</strong>Director de Tecnología Estratégica de Carolina Ale House</p>
            <div class="d-md-flex justify-content-md-start">
              <button type="button" class="btn btn-dark btn-lg px-4 me-md-2">Comenzar</button>
            </div>
          </div>
        </div>
      </div>
    <!----->
    
    <div class="container">
        <article class="my-3" id="accordion">
            <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
              <h1>Preguntas frecuentes</h1>
            </div>
            <div>
              <div class="bd-example">
              <div class="accordion" id="accordionExample">
        
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    ¿Quién puede ver mis anuncios?
                    </button>
                  </h4>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                     <strong>Puedes seleccionar públicos objetivo específicos. El momento y el lugar en que se muestran tus anuncios dependen de tu relevancia para el cliente en particular y de la solidez de la oferta en comparación con los demás negocios.</strong>
                    </div>
                  </div>
                </div>
        
        
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    ¿Cómo elijo el presupuesto semanal?
                    </button>
                  </h4>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>La campaña publicitaria seguirá publicándose de manera indefinida y puedes pausarla en cualquier momento. Elige un presupuesto semanal a partir de las opciones disponibles en el Administrador de Uber Eats (que se calculan según las ventas mensuales previstas) o bien fija un presupuesto personalizado si así lo prefieres. Para no exceder el presupuesto semanal, la campaña se pausará al alcanzar el límite establecido y se reiniciará la semana siguiente.</strong> 
                    </div>
                  </div>
                </div>
        
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    ¿Puedo lanzar una campaña publicitaria al mismo tiempo que una promoción o un programa de lealtad?
                    </button>
                  </h4>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>Sí. La realización de varias campañas a la vez puede maximizar los resultados. Con una variedad de soluciones de marketing a tu alcance, puedes lograr los objetivos de tu negocio de muchas formas. ¿Quieres destacarte? Te brindamos anuncios para que lo logres. ¿Quieres más clientes? Crea una promoción para resaltar la oferta. ¿Quieres mejorar la retención? Lanza un programa de lealtad para que los clientes regresen con recompensas. Para mejorar aún más tu visibilidad en la app, puedes lanzar anuncios para apoyar una promoción o un programa de lealtad. Al posicionar tu promoción o programa de lealtad más arriba en el inicio, los clientes tendrán un incentivo extra para hacer clic.</strong>
                    </div>
                  </div>
                </div>
        
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    ¿Puedo pausar los anuncios o verificar su rendimiento?
                    </button>
                  </h4>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>Sí, puedes pausar, editar y reanudar tus anuncios en cualquier momento. Además, la campaña se pausará al alcanzar el límite establecido y se reiniciará la semana siguiente.
                        <br>Inicia sesión en el Administrador de Uber Eats para ver el desempeño de tus anuncios. Consulta información precisa sobre las métricas, como ventas de anuncios, clics, gastos y costo promedio por clic. Usa la información para optimizar tu campaña y generar más ventas.
                      </strong> 
                    </div>
                  </div>
                </div>
        
              </div>
              </div>
            </div>
          </article>
        </div>
        <!-------->
    </div>
      <!-- AYUDA E INFORMACION---->
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
      <button class="btnesg">
          <span>Asóciate con nosotros</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
      </button>
      </div>
  
      <div class="col-xl-6">
      <button class="btnesg">
          <span>Obtén ayuda</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
      </button>
      </div>
    </div>    
    </div>
    