<div class="separacion">
    <app-sidebar></app-sidebar>
    <div class="pagina">
        <section>
            <div class="letras">
                <h1>Top de Ya Voy</h1>
                <p>El Top de Ya Voy se determina el primer día de cada mes y se basa en el rendimiento de los últimos 90 días.</p>
            </div>
        </section>
        <section class="criterio">
            <p>Progreso de septiembre</p>
            <h2>Cumple con los citerios</h2>
        </section>
        <section>
            <div class="metricas">
                <h2>Métrica de 5 para alcanzar el Top de Ya Voy</h2>
                <p>Ten en cuenta que estas métricas pueden cambiar antes del 01/08/2022</p>
            </div>
            <div class="separador-carta">
                <div class="cartas">
                    <div class="carta">
                        <p class="titulo">tasa en línea</p>
                        <h2>95.1%</h2>
                        <p class="palabra">Objetivo: más del 80%</p>
                        <p>El Restaurante estuvo conectado 318.02 horas aproximadamente. ¡Eso es dedicación!</p>
                    </div>
                    <div class="carta">
                        <p class="titulo">Calificación</p>
                        <h2>4.9</h2>
                        <p class="palabra">Objetivo: 4.8 o más</p>
                        <p>Tu calificación es 4.9 en este momento. ¡Eres una estrella! Mejor dicho, muchas estrellas.</p>
                    </div>
                    <div class="carta">
                        <p class="titulo">Pedidos</p>
                        <h2>113</h2>
                        <p class="palabra">Objetivo: 20 o más</p>
                        <p>Recibiste 113 pedidos con Ya Voy. ¡Así es como puedes ganar un concurso de popularidad!</p>
                    </div>
                    <div class="carta">
                        <p class="titulo">Pedidos perdidos</p>
                        <h2>0%</h2>
                        <p class="palabra">Objetivo: menos de 4%</p>
                        <p>Tu restaurante perdió 0 de 133 pedidos totales. Eres un administrador de pedidos experto</p>
                    </div>
                    <div class="carta">
                        <p class="titulo">Pedidos incorrectos</p>
                        <h2>0%</h2>
                        <p class="palabra">Objetivo: menos de 1%</p>
                        <p>Los clientes informaron que 0 de 133 pedidos eran incorrectos. Claramente eres un perfeccionista.</p>
                    </div>
                </div>
                <div class="derecha">
                    <div>
                        <h2>Qué obtendrás si alcanzas el Top de Ya Voy:</h2>
                        <p>En promedio podrías incrementar las ventas un 6% en comparación con los restaurantes que no alcanzan el Top de Ya Voy</p>
                        <p>Obtendrás una insignia del Top de Ya Voy y mayor visibilidad en Ya Voy</p>
                    </div>
                    <div class="imagen">
                        <img src="assets/celular.png" alt="">
                        <button> Conoce más</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
