<div class="container">
    <!-------------------Historias--------------------------->
        <div class="row">
            <div class="col-xl-6 order-xl-2 historias-foto">
                <img src="assets/historias.png" alt="">
            </div>
            <div class="col-xl-6 order-xl-1 historias">
                <div class="historias-contenido">
                    <h1>Usa historias para darle vida a tu negocio</h1>
                    <p>Mantén informados a tus fanáticos. A través de las historias, puedes anunciar artículos nuevos, promociones especiales y mucho más, directamente desde la app. Tus seguidores verán las actualizaciones en sus feeds.</p>
                    <p class="parrafo2">¿Ya estás inscripto como establecimiento? Probar las historias.</p>
                    <button class="btncomenzar">Comenzar</button>
                </div>
            </div>
        </div>
    <!-------------------Haz anuncios--------------------------->
        <div class="oc anuncios">
            <h2>Haz anuncios que llamen la atención</h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 caja">
                <img src="assets/fanaticos.png" width="40px" alt="">
                <h5>Dirígete a tus fanáticos de forma directa</h5>
                <p>Crea una historia en unos pocos pasos simples. Los clientes que sigan tu negocio verán tu mensaje.</p>
                </div>
        
                <div class="col-lg-4 col-md-6 col-sm-12 caja">
                <img src="assets/ofertas.png" width="50px" alt="">
                <h5>Muestra tus ofertas</h5>
                <p>Cuéntales tus novedades a tus seguidores. Puedes subir promociones, destacar los artículos más vendidos o incluso lanzar un nuevo producto.</p>
                </div>
        
                <div class="col-lg-4 col-md-6 col-sm-12 caja">
                <img src="assets/conexion.png" width="50px" alt="">
                <h5>Establece una conexión auténtica</h5>
                <p>Las historias son una manera sencilla de fijar tu negocio en la mente de los clientes y de que lo encuentren más fácilmente.</p>
                </div>
            </div>
        </div>
    <!-------------------Compartir--------------------------->
        <div class="row">
            <div class="col-xl-6 order-xl-2 compartir-foto">
                <img src="assets/celular.png" alt="">
            </div>
            <div class="col-xl-6 order-xl-1 compartir">
                <div class="compartir-contenido">
                    <h1>Compartir lo que importa es más fácil que nunca</h1>
                    <p>Los clientes que sigan tu negocio verán tus historias en sus feeds. Solo sube una imagen, agrégale texto y nosotros nos encargamos del resto. Las historias se pueden publicar durante 7 días de forma gratuita.</p>
                    <a href="/login" target="_blank">Inicia sesión para probarlo</a>
                </div>
            </div>
        </div>
    <!-------------------Preguntas Frecuentes--------------------------->
        <article class="oc" id="accordion">
            <h1>Preguntas frecuentes</h1>
            <div class="bd-example">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                <h4 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        ¿Quién puede ver mis historias?
                    </button>
                </h4>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    <p>Las historias son visibles para los clientes que se encuentren en tu radio de entrega y para aquellos que tengan tu restaurante en favoritos. Las historias se verán en el feed y en tu página durante 7 días.</p>
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                <h4 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ¿Puedo subir mis propias fotos y videos en las historias?
                    </button>
                </h4>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    <p>La imagen principal de tu página se agregará automáticamente a tus historias. No se pueden subir fotografías personalizadas por historia en este momento, pero nuestro equipo trabaja constantemente para mejorar la experiencia de los establecimientos y clientes.</p>
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                <h4 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                        ¿Cómo modifico o cancelo mis historias?
                    </button>
                </h4>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    <p>Para modificar una historia que hayas subido, deberás cancelarla. Puedes cancelarla en cualquier momento y crear una nueva cuando quieras. Las historias permanecerán activas por 7 días desde su creación.</p>
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                <h4 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                        ¿Tienes alguna recomendación sobre el contenido que puedo subir a mis historias?
                    </button>
                </h4>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    <p>Las historias son el lugar ideal para mostrar tu marca y destacar lo que hace que tu restaurante sea único. Desde la historia de tu restaurante hasta los ingredientes que usas en tus platos, la creatividad no tiene fin al subir historias. Puedes publicar hasta 20 historias a la vez.</p>
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                <h4 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
                        ¿Existe alguna guía sobre el contenido que puedo publicar?
                    </button>
                </h4>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    <p>Las historias son más exitosas cuando son claras, simples y útiles para los clientes. Asegúrate de que los clientes puedan leer y comprender tus historias rápidamente. Imagina que hablas con un cliente en persona, ¿qué dirías? Evita los emojis, la MAYÚSCULA SOSTENIDA y los signos de puntuación excesivos. Tampoco emplees lenguaje irrespetuoso ni nada que pueda considerarse ofensivo. No incluyas marcas comerciales, logotipos ni información que no sea tuya o sobre la que no tengas derechos de uso. Si algo te hace dudar, lo mejor es no arriesgarse.</p>
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                <h4 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseTwo">
                        ¿Dónde puedo encontrar más información sobre el uso de las historias?
                    </button>
                </h4>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    <p>Obtén más información sobre las historias <a class="aquipf" href="https://uber.app.box.com/s/34se8l10tuflxtqqfq7bci6twlj0ez8j?uclick_id=1396756a-58dd-49af-a498-da1ca54a2a01" target="_blank">aquí.</a></p>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </article>
    <!-------------------Botones--------------------------->
        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-12 separador">
            <a class="btnesg" href="#">
                <span class="texto-boton">Asóciate con nosotros</span>
                <svg  xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
                </a>
            </div>
    
            <div class="col-xl-6 col-md-6 col-sm-12">
            <a class="btnesg" href="#">
                <span class="texto-boton">Obtén ayuda</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
            </a>
            </div>
        </div>
    </div>
