<div class="inicio-sesion">
  <img src="assets/yavoy2.png" alt="">

  <div class="contenido">
    <h2>Inicio de sesión</h2>
    <p>Usa tu dirección de correo electrónico y tu contraseña para iniciar sesión en el Administrador de Ya Voy</p>
    
    <div>
      <p>Nombre de usuario</p>
      <input type="text" placeholder="Ingresa tu correo electrónico" [(ngModel)]="this.Correo">
      <p>Contraseña</p>
      <input type="password" placeholder="Ingresa tu contraseña" [(ngModel)]="this.Contrasena">
    </div>
    <button type="submit" (click)="IniciarSesion()" ><a style="text-decoration: none ;color: white;">Siguiente</a> </button>
    
  </div>
</div>