<div class="container marketing">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="texting ">
          <h1 class="display-5 fst-italic">Centro de autoaprendizaje</h1>
          <p class="texting ">Queremos que sea más fácil comenzar a usar la app de Uber Eats. Puedes encontrar todos nuestros materiales de soporte, como las guías de la plataforma, recursos educativos y más, en un solo lugar.</p>
          <p class="lead mb-0" ><a href="#" class="text-white fw-bold">Comenzar</a></p>
        </div>
      </div>
<h2>Guías y recursos</h2>
<br>

    <div class="row" style="margin-top: 20px;">
           <div class="col-lg-4">
            
            <h5 style="text-align:left;" >Pedidos Uber Eats</h5>
            <p style="text-align: left;">Esta guía te ayuda a dar tus primeros pasos, desde la configuración hasta completar tus primeros 100 pedidos.</p>
            <br>
            <br>
           
          </div>
 
          <div class="col-lg-4">
            
            <h5 style="text-align:left;">Administrador de Uber Eats</h5>
            <p style="text-align: left;">Conoce cómo esta función te permite administrar tu negocio con los datos de Uber Eats.</p>
          </div>
          <br>
    
          <div class="col-lg-4">
            
             <h5 style="text-align:left;">Creador de menús</h5>
             <p style="text-align: left;">Aprovecha al máximo los menús con esta herramienta para ofrecer a los clientes justo lo que quieren.</p>
          </div>
          <br>
          <div class="col-lg-4">
            
            <h5 style="text-align:left;">Haz crecer tu negocio</h5>
            <p style="text-align: left;">Te presentamos las funciones y los recursos que les brindamos a los restaurantes para ayudarlos a mejorar, innovar y prosperar.</p>
          </div>
          <br>
          <div class="col-lg-4">
            
            <h5 style="text-align:left;">Uber Eats sin secretos</h5>
            <p style="text-align: left;">Obtén respuestas a todas tus preguntas sobre cómo trabajar con la app de Uber Eats y cómo empezar.</p>
          </div>
          
    </div>
    <div class="container marketing">
        <article class="my-3" id="accordion">
            <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
              <h1>Preguntas frecuentes</h1><br>
            </div>
            <div>
              <div class="bd-example">
              <div class="accordion" id="accordionExample">
        
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        ¿Cómo administro los pedidos e integro mi sistema de PDV?
                    </button>
                  </h4>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                     <strong>En estas páginas encontrarás más información sobre cómo administrar los pedidos e integrar el sistema de PDV.</strong>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ¿Dónde puedo encontrar recursos de co-marketing para que los clientes sepan que estoy en la app de Uber Eats?
                    </button>
                  </h4>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>Encuentra recursos de co-marketing, como contenido prefabricado para canales sociales, insignias para tu sitio web, orientación general y más aquí.</strong> 
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </article>
    <div class="row featurette" id="featured-3">
        <div class="col-md-6 order-md-1">
          <button class="boton text-start">
            <span>Asóciate con nosotros</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
            </svg>
          </button>
        </div>
    
        <div class="col-md-6 order-md-2">
          <button class="boton text-start">
            <span class="col-md-8">Obtén ayuda</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
            </svg>
          </button>
        </div>
      </div>
      
 </div>
