.letra{
    font-size: 14px;
    }
    
    .letra2{
    font-size: 12px;
    }
    
    .marketing .col-lg-4 {
        margin-bottom: 1.5rem;
        text-align: center;
    }
    .marketing h2 {
        font-weight: 400;
    }
    
    .featurette-divider {
        margin: 5rem 0; 
    } 
    .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    }
    
    .preguntas{
        margin-left: 18%;
        margin-right: 18%;
    }
    
    .botons{
        margin-top: 20px;
        background-color: white;
        border-width: 1px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: rgba(128, 128, 128, 0.459);
        font-size: 17px;
    }
    
    .botons:hover {
        border-color: black;
        left: 100%;
        transition: 1s;
    }
    
    .boton{
        width: 100%;
        height: 130px;
        background-color: white;
        border-width: 2px;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    
    .boton svg{
        width: 40px;
        height: 80px;
        margin-top: -2%;
    }
    
    .boton span{
        font-family:Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-size: 36px;
        text-align: start
    }
    
    .boton:hover{
        color: rgba(61, 61, 61, 0.644);
        border-color: rgba(61, 61, 61, 0.644);
    }
    
    a{
        color: rgb(33, 37, 31);
    }
    
    @media (min-width: 40em) {
    .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
    }
    .featurette-heading {
    font-size: 50px;
    }
    }
    
    @media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
    };
    .texting {
        text-align: center;
        margin: auto;
        
    }
