<main>
    <div class="p-5 mb-4 bg-light rounded-3"  style="background-repeat: no-repeat; background-image: url(assets/imagenprincipalser.png);">
        <div class="container-fluid py-5">
        <h1 class="tt">Opciones flexibles de entrega a domicilio y para llevar, diseñadas para tu negocio</h1>
        <p class=" letrap">Llega a más clientes con Uber Eats. Nuestra plataforma ofrece opciones y precios flexibles para responder a tus necesidades de entrega y de recolección.</p>
        <button class="btn btn-primary btn-lg" type="button" >COMENZAR</button>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
    <h1>Opciones a tu medida</h1>
    <div class="row" style="margin-top: 20px;">
        <div class="col-lg-4">
            <img src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1620863437/assets/11/26a849-dc22-4ac8-996c-8d48b91bf498/original/deliver-with-Uber.svg" alt="">
            <h5 style="text-align:left; margin-top: 20px">Conéctate con socios de la App</h5>
            <p style="text-align: left;">Conéctate con una red de más de 5 millones de socios de la App en todo el mundo, con tiempos de entrega promedio de menos de 30 minutos. Lo único que tienes que hacer es preparar los pedidos de los clientes.</p>
        </div>
    
        <div class="col-lg-4">
            <img src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1620863463/assets/b0/97dfc9-b966-434c-8720-48f6486900ac/original/deliver-through-your-staff.svg" alt="">
            <h5 style="text-align:left; margin-top: 20px;">Haz entregas con tu personal</h5>
            <p style="text-align: left;">Si decides realizar entregas con tu propio equipo, puedes aceptar pedidos con una tasa de comisión más baja. Esto significa que puedes llegar a más clientes mientras mantienes el control de las entregas.</p>
        </div>
    
        <div class="col-lg-4">
            <img src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1620863491/assets/9f/30aaa1-7d64-45b2-a2f3-3dff929fa16c/original/pickup-orders.svg" alt="">
            <h5 style="text-align:left; margin-top: 20px">Ofrece la opción para llevar</h5>
            <p style="text-align: left;">Ofrece la opción de hacer pedidos para llevar a través de nuestra app. Los clientes evitarán el costo de envío y tu negocio tendrá una tasa de comisión más baja porque evitará la tarifa de la red de entrega.</p>
        </div>
        </div>
        <br>
        <br>
        <br>
        
<div class="container">
    <!-----------------linea del tiempo------------------------------->

    <section id=timeline>
    <h1>Cómo agregar las opciones de entrega a domicilio o pedidos para llevar</h1>
    <div class="demo-card-wrapper">

        <div class="demo-card demo-card--step1">
            <div class="head">
                <div class="number-box">
                    <span>Paso 1 </span>
                </div>
                <h3>Regístrate en YA VOY</h3>
            </div>
            <div class="body">
                <p>Para comenzar cuéntanos un poco sobre tu negocio, así podemos verificar tu identidad y tu licencia. Cuando tengas todo listo, puedes registrarte aquí.

                </p>
                <img src="assets/pas1.png" alt="Graphic">
            </div>
        </div>

        <div class="demo-card demo-card--step2">
            <div class="head">
                <div class="number-box">
                    <span>Paso 2</span>
                </div>
                <h3>Selecciona el plan adecuado para ti</h3>
            </div>
            <div class="body">
                <p>Luego elige la opción de entrega que prefieras: una red de socios de la App de la plataforma de Uber o entregas con tu propio personal. ¿Ofreces pedidos para llevar? Comunícate con nosotros o con el administrador de tu cuenta y nos encargaremos del resto.</p>
                <img src="assets/pas2.png" alt="Graphic">
            </div>
        </div>

        <div class="demo-card demo-card--step3">
            <div class="head">
                <div class="number-box">
                    <span>Paso 3</span>
                </div>
                <h3>Comienza a recibir pedidos</h3>
            </div>
            <div class="body">
                <p>Ahora lo único que debes hacer es cargar el menú en la plataforma y ya tendrás todo listo para comenzar. Si aún tienes preguntas, visita nuestro Centro de autoaprendizaje.</p>
                <img src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_328,h_185/v1620863757/assets/0d/803a16-6256-4e6b-9777-380012c267ce/original/step-3_16x9.svg" alt="Graphic">
            </div>
        </div>

    </div>
</section>
<br>
<br>
<br>


</div>
<div class="row featurette">
    <div class="col-md-6 order-xl-2">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="600" height="600" src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_511,h_340/v1620863796/assets/56/128176-a8ff-44fd-a724-7d5d42278ff0/original/testimonial_coolhaus_16x9_2x.png" alt="">
    </div>
    <div class="col-md-6 order-xl-1" style="margin-top: 5%;">
      <h2>“Uber Eats te permite llegar a más clientes. Las personas que viven en otras áreas ahora pueden buscarnos y encontrarnos”.</h2><br>
      <p><b>Natasha Case</b>, directora ejecutiva y cofundadora de Coolhaus</p>
    </div>
</div>
<BR>
<BR>
<BR>
<BR>

<!-----------------preguntas frecuentes------------------------------->
<div class="bd-example">
    <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        <h1>Preguntas frecuentes</h1><br>
      </div>
    <div class="accordion" id="accordionExample">

      <div class="accordion-item">
        <h4 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            ¿Quién hace las entregas?
          </button>
        </h4>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
           <strong>Existe una gran red de socios de la App que usan la app de Uber para conectarse con tu restaurante y entregar la comida al cliente lo más rápido posible.</strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h4 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ¿Qué tan lejos llegan las entregas?
          </button>
        </h4>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>La zona de entrega es única para tu restaurante y cambiará con el tiempo. Las zonas de entrega son dinámicas y se determinan mediante un algoritmo que evalúa muchos factores, como el tipo de cocina, ubicación, distancia o tiempos de entrega esperados, para crear una excelente experiencia para ti y tus clientes.</strong> 
          </div>
        </div>
      </div>
    </div>
    </div>



    <br>
    <br>
    
    
    <!-----------------asos------------------------------->
    <div class="container marketing">
        <div class="row featurette" id="featured-3">
          <div class="col-md-6 order-md-1">
            <button class="boton text-start">
              <span>Asóciate con nosotros</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short col-6" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
              </svg>
            </button>
          </div>
      
          <div class="col-md-6 order-md-2">
            <button class="boton text-start">
              <span>Obtén ayuda</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
              </svg>
            </button>
          </div>
        </div>
        </div>

</div>
</main>