<div class="separacion">
  <app-sidebar></app-sidebar>
  <div class="pagina">
      <section class="header">
          <h1>Horario durante las fiestas</h1>
      </section>
      <section>
          <p>Agrega una fecha e indica si el restaurante estará cerrado todo el día. Si estará abierto, puedes acortar el horario de atención. Para permanecer abierto más tiempo ese día, edita el horario regular del menú.</p>
          <div class="hora">
              <div class="caja">
                  <p>Fecha</p>
                  <input type="date">
              </div>
              <div class="caja check">
                  <input type="checkbox">
                  <p>Cerrado todo el día</p>
              </div>
              <div class="caja horaa">
                  <p>Horario de apertura</p>
                  <input type="time">
              </div>
              <div class="caja horac">
                  <p>Hora de cierre</p>
                  <input type="time">
              </div>
          </div>
      </section>
      <section class="agregar">
          <p>+ Agregar más</p>
      </section>
      <section>
          <button type="button" class="guardar">Guardar</button>
      </section>
  </div>
</div>
