*{
  --naranjo: rgb(231, 106, 4);
  --naranjod: rgba(231, 106, 4, 0.651);
}

.separacion{
  display: grid;
  grid-template-columns: max-content 1fr;
}

.pagina{
  padding: 0 20px;
}

section{
  margin: 30px 0;
}

.header h1{
  color: black;
  margin-bottom: 30px;
}

.hora{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 30px;
  border: 1px solid #ccc;
  padding: 15px;
}

.hora p{
  margin-bottom: 5px;
  color: black;
  font-weight: 500;
}

.check{
  margin-top: 28px;
  display: flex;
  flex-direction: row;
  gap: 0 10px;
}

.check p{
  margin: 0;
}

input{
  padding: 10px 15px;
  background: #ddd;
  border: 0;
  outline: 0;
}

.agregar p{
  width: max-content;
  margin: 0;
  color: green;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}

.guardar{
  background: var(--naranjo);
  color: #fff;
  border: 0;
  outline: 0;
  padding: 10px 15px;
}

@media screen and (max-width: 1000px){
  .pagina{
      padding: 0 15px;
  }

  .hora{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px 10px;
  }
}

@media screen and (max-width: 700px){
  .pagina{
      padding: 0 10px;
  }

  .hora{
      grid-template-columns: 1fr;
  }

  .hora .check{
      margin: 0;
  }
}