
<main class="container">
    <!------>
    <div class="container col-xxl-12 px-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_824,h_1031/v1635800562/assets/52/dbe64b-aee3-4819-8b34-fe8e7b851b83/original/MarketingToolsForRestaurants.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Herramientas de marketing para establecimientos</h1>
            <p class="lead">Las recolecciones y las entregas son claves para tu negocio y por eso estamos aquí para ayudarte. Los recursos a continuación pueden ayudar a que los clientes sepan que estás disponible y activo en Uber Eats.</p>
            <p class="lead">Todas las comunicaciones de marketing conjunto con el logotipo de Uber Eats deben enviarse al Departamento de Marcas para su aprobación antes del lanzamiento. El plazo de respuesta estándar es de 3 a 5 días hábiles, y las revisiones pueden aumentar ese tiempo, por lo que te recomendamos planificar con anticipación.</p>
            <div class="d-md-flex justify-content-md-start">
            
            </div>
          </div>
        </div>
      </div>
      <!------>
      
      <!------>
        <div  class="container col-xxl-12 px-4">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Bloqueos del logotipo CTA</h1>
                <p class="lead">Adding a call to action (CTA) next to the logo makes both our brand and message clear to customers. We’ve provided a library of lockup solutions featuring approved brand messaging. For exclusive media spotlight opportunities, please use the “Presented by” logo.</p>
                <div class="d-md-flex justify-content-md-start">
                 
                </div>
              </div>
              <div class="col-lg-6">
                  <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_824,h_550/v1635808051/assets/16/d7d52b-694c-4a0a-a18c-499fec3e0b45/original/cta-lockup.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
            </div>
          </div>
      <!------>
      <!------>
    <div class="container col-xxl-12 px-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_824,h_550/v1635808116/assets/c3/b7bc0d-51cc-41e1-b78b-e2c1563162d8/original/Squircle.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Ícono de la app e insignia web</h1>
            <p class="lead">Para las ejecuciones digitales, usa el ícono de la app para que los usuarios sepan que pueden descargarla para hacer pedidos con la app de Uber Eats. También pueden usarse en enlaces de redes sociales, e incluimos una opción con un CTA.</p>
            <div class="d-md-flex justify-content-md-start">
             
            </div>
          </div>
        </div>
      </div>
      <!------>
      
      <!------>
        <div  class="container col-xxl-12 px-4">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Contenido prediseñado para redes sociales</h1>
                <p class="lead">Comunica que estás en Uber Eats a través de las redes sociales. Estas imágenes prediseñadas con mensajes sugeridos pueden simplificarte la tarea. Elige un paquete de recursos para redes sociales en nuestra colección Conectar y Reproducir o coloca tu logotipo e imágenes en la colección de recursos Personalizables/Permanentes.</p>
                <div class="d-md-flex justify-content-md-start">
                  
                </div>
              </div>
              <div class="col-lg-6">
                  <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_824,h_550/v1636424013/assets/20/d6b67d-a1a9-4ed5-bd66-38f6bcd275cb/original/eats-3x2-grab-a-bite.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
            </div>
          </div>
      <!------>
      <!------>
    <div class="container col-xxl-12 px-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_824,h_550/v1655228861/assets/91/6d7f77-9999-488c-bf31-2e87d51dcc21/original/Screen-Shot-2022-06-14-at-10.47.28-AM.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Mochila térmica de Uber Eats</h1>
            <p class="lead">La mochila térmica con la marca Uber Eats es una forma creativa y natural de incorporar nuestro logotipo a la creatividad de los socios. Nuestra marca debe ser fácilmente reconocible en cualquier entorno fotográfico. Permite que el espacio seguro de 2U rodee el logotipo hasta el extremo de la mochila térmica</p>
            <div class="d-md-flex justify-content-md-start">
              
            </div>
          </div>
        </div>
      </div>
      <!------>
      
      <!------>
        <div  class="container col-xxl-12 px-4">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Cómo encontrar tu URL exclusiva</h1>
                <p class="lead">La URL de Uber Eats te permite crear enlaces rápidos a tu menú de entrega a domicilio.</p>
                    <p class="lead">1. Accede a UberEats.com.</p>
                        <p class="lead">2. Ingresa el nombre de tu restaurante en la barra de búsqueda.</p>
                        <p class="lead">3. Haz clic en el nombre de tu restaurante para ir a tu página.</p>
                        <p class="lead">4. Copia la URL de la página de tu restaurante, que es exclusiva para tu negocio.</p>
                <div class="d-md-flex justify-content-md-start">
                 
                </div>
              </div>
              <div class="col-lg-6">
                  <img src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_824,h_550/v1629936039/assets/0e/8690e4-564c-470b-aacf-44ee71dd91c6/original/Learning_Center_Day_1.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
            </div>
          </div>
      <!------>
    <!------>
    <div class="container col-xxl-12 px-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_824,h_550/v1627678438/assets/2d/15afbb-da78-42b2-b8cd-2664925128b4/original/advertise_your_business_without_the_hassle_3x2_2x.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Campañas de marketing en la app</h1>
            <p class="lead">Crea un menú tentador que atraiga a más clientes. Informa lo que ofreces en tiempo real, actualiza los precios, agrega nuevos horarios y más.</p>
            <div class="d-md-flex justify-content-md-start">
             
            </div>
          </div>
        </div>
      </div>
      <!------>
      <br>
      <br>
      <br>
      <h1 class="display-5 fw-bold lh-1 mb-3">Elementos principales de la marca</h1>
      <p>El logotipo de Uber Eats es accesible y reconocible al instante. Esta es una breve introducción a nuestra marca denominativa y colores centrales.</p>  
      <div class="row" style="margin-top: 20px;">
               <div class="col-lg-4">
                <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_350,h_200/v1635806488/assets/6f/3ce7c4-fe16-41df-b54f-9074c6906214/original/Wordmark.png" alt="">
                <br>
                <br>
                <h5 style="text-align:left;">MARCA DENOMINATIVA</h5>
                <p style="text-align: left;">La marca denominativa es nuestro recurso más reconocible a nivel mundial. Para obtener una visibilidad óptima en fondos más oscuros, usa el logotipo vertical (apilado) en dos colores: Sal y Verde Eats Usa la versión Pimienta y Verde Eats en fondos más claros.</p>
              
            </div>
        
              <div class="col-lg-4">
                <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_350,h_200/v1635806799/assets/22/305aa1-59d2-4858-ba25-38750ed66ee9/original/onecolorwordmark.png" alt="">
                <br>
                <br>            
                <h5 style="text-align:left;">VARIACIONES DE UN COLOR</h5>
                <p style="text-align: left;">El logotipo de un solo color en todo Sal o en todo Pimienta se usa cuando la versión a todo color no encaja debido a restricciones de producción, o cuando nuestra marca necesita estar presente, pero no destacada, como en listas o descripciones de patrocinadores.</p>
              </div>
        
              <div class="col-lg-4">
                <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_350,h_200/v1636582708/assets/0a/ff5447-f946-42f6-b771-2f8ea23d2fa5/original/color_360x1992x.png" alt="">
                <br>
                <br>
                 <h5 style="text-align:left;">COLORES PRINCIPALES</h5>
                 <p style="text-align: left;">Estos colores primarios son la base de nuestra identidad visual. Asegúrate de que los valores de color de nuestros logotipos sean correctos.</p>
              </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="display-5 fw-bold lh-1 mb-3">Espacio libre</h1>
        <br>
        <p class="col-lg-10 " style="margin-right: 5%; font-size: 18px;">La cantidad de espacio libre alrededor del logotipo debe ser igual o mayor que la altura de la “U” en Uber. Esto evita que el logotipo se llene de imágenes, texto u otros gráficos que comprometen la integridad visual. Ten en cuenta los requisitos de tamaño mínimo para versiones impresas y digitales.</p>
        <br>
        <div class="row" style="margin-top: 20px;">
          <div class="col-lg-4">
           <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_350,h_200/v1635806917/assets/9a/36dafb-df95-44a4-82eb-4ca5ad1f7638/original/clearspace1.png" alt="">
           <br>
           <br>
         
           <p class= "lead" style="text-align: left;">Tamaño mínimo:</p>
          
           <p class= "lead" style="text-align: left;">Web: 30 PX de ancho</p>
           
           <p class= "lead" style="text-align: left;">Impresión: 0,7 pulgadas de ancho</p>
         
       </div>
    
         <div class="col-lg-4">
           <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_350,h_200/v1635807040/assets/0d/dfc5f9-b9bc-4f7d-9d50-36b2e67848d0/original/clearspace2.png" alt="">
           <br>
           <br>            
          
           <p class= "lead" style="text-align: left;">Tamaño mínimo:</p>
          
           <p class= "lead" style="text-align: left;">Web: Ancho de 70 PX</p>
           
           <p class= "lead" style="text-align: left;">Impresión: 1.4 pulgadas de ancho</p>
         </div>
    
         <div class="col-lg-4">
           <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_350,h_200/v1635807145/assets/37/2665fc-adf8-428c-b5ad-f5e9891c7aa4/original/clearspace3.png" alt="">
           <br>
           <br>
          
            <p style="text-align: left;"></p>
         </div>
    </div>
    
    <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="display-5 fw-bold lh-1 mb-3">Uso incorrecto</h1>
        <br>
        <p class="col-lg-10 " style="margin-right: 5%; font-size: 18px;">A continuación, te presentamos algunos ejemplos de lo que NO se debe hacer con nuestro logotipo.</p>
        <br>
    
        <div class="row" style="margin-top: 20px;">
          <div class="col-lg-4">
           <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_350,h_200/v1635807699/assets/ca/50dce2-58be-4920-b2ac-d1026b8f4b47/original/misuse1.png" alt="">
           <br>
           <br>
           <h5 style="text-align:left;"></h5>
           <p class= "lead" style="margin-right: 5%; font-size: 18px;">No uses una marca denominativa de color en los casos en los que el color pleno sea apropiado.</p>
         
       </div>
    
         <div class="col-lg-4">
           <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_350,h_200/v1635807721/assets/26/229998-efac-4982-a166-78a6b950bbbf/original/misuse2.png" alt="">
           <br>
           <br>            
           <h5 style="text-align:left;"></h5>
           <p class= "lead" style="margin-right: 5%; font-size: 18px;">Do not scale, wrap, alter, tilt, or rotate the form of the logo</p>
         </div>
    
         <div class="col-lg-4">
           <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_350,h_200/v1635807739/assets/eb/cb513f-3921-4677-9f21-b87821d2869d/original/misuse3.png" alt="">
           <br>
           <br>
            <h5 style="text-align:left;"></h5>
            <p class= "lead" style="margin-right: 5%; font-size: 18px;">No coloques el texto o los elementos visuales dentro del espacio libre del logotipo.</p>
         </div>
    </div>
    <br>
    <div class="row" style="margin-top: 20px;">
      <div class="col-lg-4">
       <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_350,h_200/v1635807762/assets/cc/4a5e18-ed51-44f9-8580-6b10a572eaea/original/misuse4.png" alt="">
       <br>
       <br>
       <h5 style="text-align:left;"></h5>
       <p class= "lead" style="margin-right: 5%; font-size: 18px;">No coloques el logotipo sobre un fondo que lo atraviese.</p>
     
    </div>
    
     <div class="col-lg-4">
       <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_350,h_200/v1635807780/assets/9b/73bbcc-3739-4019-8eda-b1573078e722/original/misuse5.png" alt="">
       <br>
       <br>            
       <h5 style="text-align:left;"></h5>
       <p class= "lead" style="margin-right: 5%; font-size: 18px;">No agregues filtros estilizados a nuestro logotipo.</p>
     </div>
    
     <div class="col-lg-4">
       <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_350,h_200/v1635807797/assets/ac/172be9-747e-430c-b67a-20cf7c794edb/original/misuse6.png" alt="">
       <br>
       <br>
        <h5 style="text-align:left;"></h5>
        <p class= "lead" style="margin-right: 5%; font-size: 18px;">No integres nuestro logotipo dentro de la copia.</p>
     </div>
    </div>
    
      <!------>
    <br>
    <br>
    
    
      <div class="container col-xxl-12 px-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_824,h_550/v1635807993/assets/47/250ff6-b433-463f-8057-4aae119d93eb/original/partnership-lockup.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Bloqueo del logotipo para el original de la asociación</h1>
            <p class="lead">Para mostrar tu logotipo junto al nuestro, coloca uno al lado del otro (ya sea horizontal o verticalmente), con una de nuestras plantillas de bloqueo de logotipo como guía. Un glifo de línea debe separar los logotipos.</p>
           
            <div class="d-md-flex justify-content-md-start">
            
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
     <!------>
      <div class="bd-example">
        <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
            <h1>Normas de mensajes</h1><br>
          </div>
        <div class="accordion" id="accordionExample">
    
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Mensajes CTA
              </button>
            </h4>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
               <li class="lead">Haz un pedido en</li>
               <li class="lead">Pide con</li>
               <li class="lead">Disponible en</li>
               <li class="lead">Desarrollado por</li>
               <li class="lead">Presentado por</li>
              
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Mensajes de entrega
              </button>
            </h4>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <li class="lead">Abre la app de Uber Eats para hacer un pedido</li> 
               <li class="lead">Haz un pedido en [Restaurant name] con la app de Uber Eats</li>
               <li class="lead">Haz un pedido en [Restaurant name] con la app de Uber Eats.</li>
               <li class="lead">Pide lo mejor de [Restaurant name] con la app de Uber Eats</li>
               <li class="lead">Haz un pedido con entrega de tus artículos favoritos con la app de Uber Eats.</li>
               <li class="lead">Haz tu pedido cuando quieras con la app de Uber Eats</li>
               <li class="lead">¡Por fin! Haz un pedido con entrega con la app de Uber Eats</li>          
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingthree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsethree" aria-expanded="false" aria-controls="collapsethree">
                Sin costo de envío de mensajes
              </button>
            </h4>
            <div id="collapsethree" class="accordion-collapse collapse" aria-labelledby="headingthree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
               <li class="lead">Sin costo de envío en pedidos de [$15] o más</li>
               <li class="lead">Se aplican Términos y tarifas. Consulta la app de Uber Eats para conocer los detalles y la disponibilidad según la ubicación</li>
               <li class="lead">Entregas con la app de Uber Eats</li>
               <li class="lead">Entrega sin costo de envío con Uber Eats</li>
               <li class="lead">Entregas sin costo de envío desde ahora</li>
               <li class="lead">Haz un pedido con la app de Uber Eats sin costo de envío. Usa el código [XXXX] al pagar.</li>
               <li class="lead">Dale la bienvenida a [partner name]. Entregas sin costo de envío cuando pidas [menu item]. Usa el código [XXXX] al pagar.</li>  
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingfor">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefor" aria-expanded="false" aria-controls="collapsefor">
                Mensajes de correo electrónico y del sitio web
              </button>
            </h4>
            <div id="collapsefor" class="accordion-collapse collapse" aria-labelledby="headingfor" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <li class="lead">Pide tus comidas favoritas</li>
                <li class="lead">Haz tu pedido cuando quieras con la app de Uber Eats</li>
                <li class="lead">Haz tu pedido hoy.</li>
                <li class="lead">¡Encuéntranos en Uber Eats! Haz tu pedido para llevar o con entrega hoy mismo</li>
                <li class="lead">Todos tus artículos favoritos de [Restaurant Name].</li>
                <li class="lead">¡Ya llegó! [Restaurant Name] ahora está disponible en la app de Uber Eats.</li>
                <li class="lead">Disfruta [Restaurant Dish] hoy con Uber Eats.</li>
                <li class="lead">Pide tu comida favorita con entrega ahora.</li>
               <li class="lead">Pide tus comidas favoritas donde quieras.</li>
               <li class="lead">Haz un pedido ahora</li>
               <li class="lead">Descarga la app de Uber Eats para hacer un pedido.</li>
              
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingfive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                Lanzamiento del anuncio
              </button>
            </h4>
            <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <li class="lead">We’re now on the @UberEats app! Order our famous [Dish Name] for delivery to your door.😍 #UberEats</li>
                <li class="lead">All your [Restaurant Name] faves are now on @UberEats. 🙌 #UberEats</li>
                <li class="lead">Craving [Restaurant Name] at home? Order your favorite dishes on the @UberEats app. #UberEats</li>
               
              </div>
            </div>
          </div>
        </div>
        </div>
    
        <br>
        <br>
    
         <!-----------------asos------------------------------->
         <div class="container marketing">
          <div class="row featurette" id="featured-3">
            <div class="col-md-6 order-md-1">
              <button class="boton text-start">
                <span>Envía el original para la aprobación de la marca</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short col-6" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
              </button>
            </div>
        
            <div class="col-md-6 order-md-2">
              <button class="boton text-start">
                <span>Asociarte con Uber Eats</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
              </button>
            </div>
          </div>
          </div>
    
       
      </main>