<div class="separacion">
  <app-sidebar></app-sidebar>
  <div class="pagina">
      <section class="header">
          <h1>Tiendas</h1>
          <input id="buscador" type="search" placeholder="Buscar" aria-label="Search">
      </section>
      <section class="botones">
          <select id="inputState">
              <option>Ordenar</option>
              <option>A-Z </option>
              <option>...</option>
          </select>
          <button id="actualizar" type="button">Actualizar</button>
      </section>
      <section class="pedidos">
          <h2 id="tituloConectados">Conectado (1)</h2>
          <button id="pausarpedidos" type="button">Pausar pedidos</button>
      </section>
      <section>
          <table class="table-striped table table-hover">
              <tbody>
                  <tr>
                      <td>
                          <img src="assets/restaurant.png" alt="">
                      </td>
                      <td>
                          <p class="arriba">Mr. Bolat</p>
                          <p class="abajo">Av. Jorge Pedro Alessandri</p>
                      </td>
                      <td>
                          <p class="puntuacion">4.9</p>
                      </td>
                      <td>
                          <p class="arriba">Aceptando pedidos</p>
                          <p class="abajo">Abierto desde 11:00</p>
                      </td>
                      <td>
                          <p class="arriba">CL $599.000</p>
                          <p class="abajo">Ventas</p>
                      </td>
                      <td>
                          <p class="arriba">1</p>
                          <p class="abajo">Pedidos</p>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <img src="assets/restaurant.png" alt="">
                      </td>
                      <td>
                          <p class="arriba">Mr Bolat</p>
                          <p class="abajo">Av. Jorge Pedro Alessandri</p>
                      </td>
                  
                      <td>
                          <p class="puntuacion">4.9</p>
                      <td>
                          <p class="arriba">Aceptando pedidos</p>
                          <p class="abajo">Abierto desde 11:00</p>
                      </td>
                      <td>
                          <p class="arriba">CL $249.990</p>
                          <p class="abajo">Ventas</p>
                      </td>
                      <td>
                          <p class="arriba">1</p>
                          <p class="abajo">Pedidos</p>
                      </td>
                  </tr>
              </tbody>
          </table>
      </section>
  </div>
</div>