* {
  --naranjo: rgb(231, 106, 4);
  --naranjod: rgba(231, 106, 4, 0.651);
}

.separacion {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.pagina{
  padding: 0 20px;
}

section {
  margin: 30px 0;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header h1{
  color: black;
}

.botones{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pedidos h2{
  color: black;
  font-size: 1.6rem;
}

input, select{
  width: min-content;
  height: min-content;
}

input{
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #bbb;
}

button, select{
  padding: 10px 20px;
  border-radius: 20px;
  background: #ccc;
  border: 0;
  font-weight: 500;
  cursor: pointer;
}

.pedidos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

table{
  width: 100%;
}

table img{
  width: 80px;
}

table p{
  margin: 0;
}

tr{
  border-bottom: 1px solid #ccc;
}

td .puntuacion{
  background: #ddd;
  color: black;
  font-weight: 500;
  padding: 15px;
  width: min-content;
  border-radius: 30%;
}

td .arriba{
  color: black;
  font-weight: 500;
}

td .abajo{
  color: gray;
}

@media screen and (max-width: 1000px){
  .pagina{
      padding: 0 15px;
  }

  table tr{
      display: grid;
      grid-template-columns: 1fr;
      margin-bottom: 20px;
  }

  td{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}

@media screen and (max-width: 700px){
  .pagina{
      padding: 0 10px;
  }
}