<main>
    <div class="container">
        <!------->
        <div class="container col-xxl-12 px-4">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="assets/sandwich.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Diseña el menú de tu establecimiento con el Creador de menús</h1>
                <p class="lead">Crea, edita y actualiza de manera fácil todas las partes del menú, para ofrecer exactamente lo que los clientes quieren. El Creador de menús es una función rápida y flexible integrada en nuestra plataforma.</p>
                <div class="d-md-flex justify-content-md-start">
                  <button type="button" class="btn btn-dark btn-lg px-4 me-md-2">Comenzar</button>
                </div>
              </div>
            </div>
        </div>
        <!----------->
        <div  class="container col-xxl-12 px-4">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Desarrollar el menú es muy fácil</h1>
                <p class="lead">Te ayudaremos a crear tu menú y te brindaremos funciones para actualizarlo en pocos pasos según sea necesario. Podrás agregar o eliminar artículos, cargar fotos, actualizar precios, cambiar las categorías del menú y más.</p>
                <div class="d-md-flex justify-content-md-start">
                  <button type="button" class="btn btn-dark btn-lg px-4 me-md-2">Inicia sesion para probarlo</button>
                </div>
              </div>
              <div class="col-lg-6">
                  <img src="assets/almuerzo.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
            </div>
        </div>
        <!-------->
        <div class="container col-xxl-12 px-4">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="assets/creadodm.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Cómo usar el Creador de menús</h1>
                <p class="lead">Nuestra guía completa explica cómo crear y actualizar el menú en tu restaurante, negocio de súper o conveniencia paso a paso.</p>
                <p class="lead">Descarga la guía en <em>inglés</em> o en <em>español</em>.</p>
              </div>
            </div>
        </div>
        <!------->
        <div  class="container col-xxl-12 px-4">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Da vida a tus ofertas</h1>
                <p class="lead">Descubre lo fácil que es crear, personalizar y cambiar tu menú para satisfacer el gusto de todos.</p>
              </div>
              <div class="col-lg-6">
                  <img src="assets/pizzavideo.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
            </div>
        </div>
        <!-------->
        <div class="container">
        <article class="my-3" id="accordion">
            <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
              <h1>Preguntas frecuentes</h1>
            </div>
            <div>
              <div class="bd-example">
              <div class="accordion" id="accordionExample">
        
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    ¿Cómo accedo al Creador de menús?
                    </button>
                  </h4>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                     <strong>Para acceder al Creador de menús, inicia sesión en el Administrador de Uber Eats y haz clic en Menú, en la navegación de la izquierda.</strong>
                    </div>
                  </div>
                </div>
        
        
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ¿Qué ocurre si no recuerdo el usuario o la contraseña para iniciar sesión en el Administrador de Uber Eats?
                    </button>
                  </h4>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>Busca el correo electrónico con el asunto Información para el inicio de sesión en Uber Eats, que incluye tu usuario y la contraseña. Si necesitas ayuda para encontrarlos o para restablecer tu información, comunícate con Soporte aquí.</strong> 
                    </div>
                  </div>
                </div>
        
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        ¿Cuál es el proceso para crear un nuevo menú en Uber Eats?
                    </button>
                  </h4>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>Si tu establecimiento es nuevo en la app Uber Eats, el equipo Uber Eats creará los menús iniciales. Sin embargo, una vez que estén en el Administrador de Uber Eats, podrás editarlos o agregar nuevos con el Creador de menús.</strong>
                    </div>
                  </div>
                </div>
        
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Tengo varias sucursales en la app Uber Eats. ¿Puedo hacer cambios en todos los menús al mismo tiempo?
                    </button>
                  </h4>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>En este momento se deben actualizar individualmente los menús de las diferentes sucursales. El Creador de menús aún no permite hacer que los cambios se propaguen de manera automática.</strong> 
                    </div>
                  </div>
                </div>
        
                <div class="accordion-item">
                  <h4 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    ¿Qué ocurre si mi negocio usa actualmente la API de menú?
                    </button>
                  </h4>
                  <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>Los establecimientos que usan la API de menú no pueden actualizar artículos a través del Creador de menús en este momento. Administra todas las actualizaciones del menú a través de la API. Si necesitas ayuda, comunícate con el administrador de la cuenta.</strong>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                    <h4 class="accordion-header" id="headingSix">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                     ¿En cuánto tiempo se implementan los cambios que realizo en el Creador de menús?
                      </button>
                    </h4>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>A excepción de la carga de fotos, los clientes podrán ver de inmediato todos los cambios que guardes en el Creador de menús. Para consultar un registro de todos los cambios realizados en el menú, haz clic en Revisar cambios en la esquina superior derecha del Creador de menús. Uber Eats debe revisar las fotos cargadas antes de publicarlas. Las revisiones suelen demorar 3-5 días. Aprobaremos tus imágenes o te solicitaremos que tomes otras y las vuelvas a enviar. Una vez aprobadas, los clientes podrán verlas de inmediato. Haz clic aquí para consultar los requisitos que deben cumplir las fotos de Uber Eats.</strong>
                      </div>
                    </div>
                  </div>
        
              </div>
              </div>
            </div>
          </article>
        </div>
        <!-------->

<!-- AYUDA E INFORMACION---->
  <div class="row">
    <div class="col-xl-6">
    <button class="btnesg">
        <span>Asóciate con nosotros</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
        </svg>
    </button>
    </div>

    <div class="col-xl-6">
    <button class="btnesg">
        <span>Obtén ayuda</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
        </svg>
    </button>
    </div>
  </div>

    </div>
</main>
