<!--------------------------Agrega personalidad---------------------------->
<div class="container">
    <div class="row">
        <div class="col-xl-6 order-xl-2 integracion-foto">
            <img src="assets/integracionig.PNG" alt="">
        </div>
        <div class="col-xl-6 order-xl-1 integracion">
            <div class="integracion-contenido">
              <h1>Agrega personalidad al vincular tu cuenta de Instagram</h1>
              <p>Destaca tu negocio, muestra el menú o comparte las novedades. Conecta tu cuenta de Instagram al escaparate de Ya Voy y las fotos de tu feed de Instagram aparecerán automáticamente en la app de Ya Voy.</p>
              <p class="segundo-parrafo">¿Ya eres un establecimiento? Prueba la integración de Instagram.</p>
              <button type="submit" class="btncomenzar">Comenzar</button>
            </div>
        </div>
    </div>
<!--------------------------Atrae a nuevos clientes---------------------------->
    <div class="row cajas">
        <h1>Atrae a nuevos clientes con tus fotos</h1>
        <div class="col-lg-4 col-md-6 col-sm-12 caja">
            <img src="assets/camera.PNG" height="50px" alt="">
            <h5>Crea una conexión instantánea</h5>
            <p>Agrega color a tu negocio y presenta lo que te hace único. Usa tus fotos para mostrar a los clientes cómo es tu negocio.</p>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 caja">
            <img src="assets/receta.PNG" height="50px" alt="">
            <h5>Muestra tus cosas</h5>
            <p>Hazles saber a los clientes qué es lo que distingue a tu negocio. La integración es una forma sencilla de resaltar lo que hay en el menú.</p>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 caja">
            <img src="assets/comida.PNG" height="50px" alt="">
            <h5>Dales un motivo para que hagan un pedido</h5>
            <p>Presenta tus mejores ofertas y comparte las actualizaciones. Cualquier foto que publiques en Instagram se podrá ver en la app de Ya Voy.</p>
        </div>
    </div>
<!--------------------------Destaca tus ofertas---------------------------->
    <div class="row">
        <div class="col-xl-6 order-xl-2 destaca-foto">
            <img src="assets/celular.png" alt="">
        </div>
        <div class="col-xl-6 order-xl-1 destaca">
            <div class="destaca-contenido">
              <h1>Destaca tus ofertas directamente en la app</h1>
              <p>Pon tu cuenta de Instagram a trabajar en nuestra plataforma. Las fotos de Instagram aparecerán en un carrusel sobre el menú cuando los clientes lleguen a tu escaparate.</p>
              <a href="">Inicia sesión para probarlo</a>
            </div>
        </div>
    </div>
<!--------------------------Linea de tiempo---------------------------->
<h1>Pendiente</h1>
<!--------------------------Cali BBQ---------------------------->
    <div class="row">
        <div class="col-xl-6 order-xl-2 cali-foto">
            <img src="assets/calibbq.PNG" alt="">
        </div>
        <div class="col-xl-6 order-xl-1 cali">
            <div class="cali-contenido">
            <h1>“Dedicamos mucho tiempo, atención y recursos a nuestras cuentas de Instagram para mostrar nuestra comida más atractiva”.</h1>
            <p><b>Shawn Walchef</b>, propietario de Cali BBQ</p>
            </div>
        </div>
    </div>
<!--------------------------Preguntas frecuentes---------------------------->
    <article class="oc" id="accordion">
        <h1>Preguntas frecuentes</h1>
        <div class="bd-example">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                <h4 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        ¿Qué fotos de Instagram aparecerán en mi escaparate de Ya Voy?
                    </button>
                </h4>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    <p>Solo se mostrarán las fotos de la cuadrícula en el escaparate de Ya Voy. No se mostrarán las historias, reels y fotos etiquetadas.</p>
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                <h4 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ¿Puedo elegir qué fotos se mostrarán?
                    </button>
                </h4>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    <p>Las fotos más recientes de la cuadrícula se mostrarán en la app de Ya Voy. En este momento, no puedes seleccionar cuál mostrar y ocultar.</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </article>
<!--------------------------Botones---------------------------->
    <div class="row">
        <div class="col-xl-6">
        <button class="btnesg">
            <span>Asóciate con nosotros</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
            </svg>
        </button>
        </div>
      
        <div class="col-xl-6">
        <button class="btnesg">
            <span>Obtén ayuda</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
            </svg>
        </button>
        </div>
      </div>
</div>
