
    <div>
    <!------>
        <div class="container col-xxl-12 px-4">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="assets/chefdescgeneral.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Usa las funciones de análisis para tomar decisiones inteligentes</h1>
                <p class="lead">Haz el seguimiento de los cambios y adáptate con confianza. Con el Administrador de Uber Eats, puedes controlar tu rendimiento, obtener información y hacer ajustes en tu negocio.</p>
                <div class="d-md-flex justify-content-md-start">
                  <button type="button" class="btn btn-dark btn-lg px-4 me-md-2">Conoce Más</button>
                </div>
              </div>
            </div>
        </div>
    <!------>
        <div  class="container col-xxl-12 px-4">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Datos que marcan la diferencia</h1>
                <p class="lead">Obtén datos detallados sobre las ventas y el rendimiento para hacer crecer tu negocio. El centro de análisis te permite ver datos clave, como las ventas netas, el tamaño promedio de los pedidos, los horarios más populares y más.</p>
                <div class="d-md-flex justify-content-md-start">
                  <button type="button" class="btn btn-dark btn-lg px-4 me-md-2">Inicia sesion para probarlo</button>
                </div>
              </div>
              <div class="col-lg-6">
                  <img src="assets/datosqmld.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
            </div>
        </div>
    <!------>
        <div class="container col-xxl-12 px-4">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="assets/conlinfoeng.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Convierte la información en ganancias</h1>
                <p class="lead">Mantente por delante de la competencia. Uber Insights te brinda información procesable para atraer a más clientes, optimizar las operaciones y generar ganancias.</p>
                <div class="d-md-flex justify-content-md-start">
                  <button type="button" class="btn btn-dark btn-lg px-4 me-md-2">Inicia sesion para probarlo</button>
                </div>
              </div>
            </div>
        </div>
    <!------>
        <div  class="container col-xxl-12 px-4">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Comunícate directamente con tus clientes</h1>
                <p class="lead">Mantén contentos a los clientes y haz que regresen. El centro de comentarios te permite agradecer, responder directamente a las calificaciones y las opiniones, e incluso enviar una oferta para resolver un problema.</p>
                <div class="d-md-flex justify-content-md-start">
                  <button type="button" class="btn btn-dark btn-lg px-4 me-md-2">Inicia sesion para probarlo</button>
                </div>
              </div>
              <div class="col-lg-6">
                  <img src="assets/comdctcliente.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
            </div>
        </div>
    <!------>
    <!---IMAGEN DE DONUTS--->
      <div class="container imgfondo">
        <div class="flex-lg-row-reverse  g-5 py-5 jumcentrado">
          <div class="col-lg-5">
            <h1 class="letra">Aprovecha mejor los datos</h1>
            <h4 class="letra2">Descubre cómo la información ayudó a la panadería familiar Donut Place a aumentar las ganancias, desarrollar una base de seguidores y usar los comentarios de los clientes para hacer modificaciones.</h4>
            <div class="d-md-flex justify-content-md-start">
              <button type="button" class="btn btn-dark btn-lg px-4 me-md-2">Play video</button>
            </div>
          </div>
        </div>
      </div>
    <!---IMAGEN DE DONUTS--->
    <!------>
    <div  class="container col-xxl-12 px-4">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Cómo usar el Administrador de Uber Eats</h1>
          <p class="lead">Usa esta guía paso a paso para aprovechar al máximo las funciones de administración de negocios, análisis de datos y marketing de la plataforma de Uber Eats.</p>
          <p class="lead">Descarga la guía en <em>inglés</em> o en <em>español</em>.</p>
        </div>
        <div class="col-lg-6">
            <img src="assets/adminUE.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
      </div>
    </div>
    <!------>
    </div>

    <!----CARTAS-->
    <div class="container">
        <h1>La configuración es simple</h1>
        <p class="configuracion">El Administrador de Uber Eats es una app gratuita fácil de instalar, configurar y personalizar. Solo selecciona tu dispositivo a continuación y sigue las instrucciones para descargar la app.</p>
        </div>
        <main>
        <div class="card1">
            <input type="radio" name="select" id="slide_1" checked>
            <input type="radio" name="select" id="slide_2">
            <input type="radio" name="select" id="slide_3">
            <input type="radio" name="select" id="slide_4">
            <input type="radio" name="select" id="slide_5">
            <input type="checkbox" id="slideImg">
          
            <div class="slider">
              <label for="slide_1" class="slide slide_1"></label>
              <label for="slide_2" class="slide slide_2"></label>
              <label for="slide_3" class="slide slide_3"></label>
              <label for="slide_4" class="slide slide_4"></label>
              <label for="slide_5" class="slide slide_5"></label>
            </div>
          
            <div class="inner_part">
              <label for="slideImg" class="img">
                <img class="img_1" src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1623961654/assets/58/2d6770-6ba4-4a4b-bc9d-115b749749a1/original/1_badge.svg">
              </label>
              <div class="content content_1">
                <div class="title">Abre una nueva ventana en Google Chrome</div>
                <div class="text">
                    Solo puedes abrir el Administrador de Uber Eats en Google Chrome. Si el navegador está abierto, haz clic en Archivo y luego en Nueva ventana.
                </div>
              </div>
            </div>
          
            <div class="inner_part">
              <label for="slideImg" class="img">
                <img class="img_2" src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1623961670/assets/ff/d77016-3bfa-4c9b-a2e4-b25fb9a795c7/original/2_badge.svg" >
              </label>
              <div class="content content_2">
                <div class="title">Accede a la versión web del Administrador de Uber Eats</div>
                <div class="text">
                    Escribe la URL en el navegador Google Chrome: merchants.ubereats.com/orders. 
                </div>
              </div>
            </div>
          
            <div class="inner_part">
              <label for="slideImg" class="img">
                <img class="img_3" src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1623961709/assets/3b/0eddcc-f7a9-410c-8cef-9a57cc88898d/original/3_badge.svg">
              </label>
              <div class="content content_3">
                <div class="title">Ingresa tus credenciales de inicio de sesión</div>
                <div class="text">Inicia sesión con tu nombre de usuario y contraseña. Si los olvidaste, quieres restablecer tu contraseña o necesitas ayuda para registrarte, envía un correo electrónico a restaurants@uber.com y alguien se pondrá en contacto contigo.
                </div>
              </div>
            </div>
        
            <div class="inner_part">
                <label for="slideImg" class="img">
                  <img class="img_4" src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1623961726/assets/bf/3aed3e-a391-41cf-ba02-846389355026/original/4_badge.svg">
                </label>
                <div class="content content_4">
                  <div class="title">Completa el inicio de sesión</div>
                  <div class="text">Ya deberías estar conectado. Si se te pide aceptar las notificaciones, haz clic en Permitir para asegurarte de recibir los pedidos.
                  </div>
                </div>
              </div>
        
              <div class="inner_part">
                <label for="slideImg" class="img">
                  <img class="img_5" src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_48,h_48/v1623961746/assets/95/04a8f6-49fc-4e2b-ace7-6a3cbaa3089d/original/5_badge.svg">
                </label>
                <div class="content content_5">
                  <div class="title">Revisa la guía de capacitación</div>
                  <div class="text">Después de iniciar sesión, haz clic en Menú, Guía de instrucciones y luego Comenzar para revisar la guía de capacitación.
                  </div>
                </div>
              </div>
          </div>
        </main>
    <!----CARTAS-->

  <!-- AYUDA E INFORMACION---->
  <div class="container">
  <div class="row">
    <div class="col-xl-6">
    <button class="btnesg">
        <span>Asóciate con nosotros</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
        </svg>
    </button>
    </div>

    <div class="col-xl-6">
    <button class="btnesg">
        <span>Obtén ayuda</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
        </svg>
    </button>
    </div>
  </div>    
  </div>